<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.comerzzia.pos.persistence.promociones.PromocionMapper" >
  <resultMap id="BaseResultMap" type="com.comerzzia.pos.persistence.promociones.PromocionBean" >
    <id column="UID_ACTIVIDAD" property="uidActividad" jdbcType="VARCHAR" />
    <id column="ID_PROMOCION" property="idPromocion" jdbcType="DECIMAL" />
    <result column="CODTAR" property="codTarifa" jdbcType="VARCHAR" />
    <result column="DESCRIPCION" property="descripcion" jdbcType="VARCHAR" />
    <result column="FECHA_INICIO" property="fechaInicio" jdbcType="TIMESTAMP" />
    <result column="FECHA_FIN" property="fechaFin" jdbcType="TIMESTAMP" />
    <result column="SOLO_FIDELIZACION" property="soloFidelizacion" jdbcType="CHAR" typeHandler="com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler" />
    <result column="ID_TIPO_PROMOCION" property="idTipoPromocion" jdbcType="DECIMAL" />
    <result column="VERSION_TARIFA" property="versionTarifa" jdbcType="DECIMAL" />
    <result column="TIPO_DTO" property="tipoDto" jdbcType="DECIMAL" />
    <result column="COD_COLECTIVO" property="codColectivo" jdbcType="VARCHAR" />
    <result column="EXCLUSIVA" property="exclusiva" jdbcType="CHAR" typeHandler="com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler" />
    <result column="COD_CUPON" property="codCupon" jdbcType="VARCHAR" />
    <result column="APLICA_A_TARIFAS" property="aplicaATarifas" jdbcType="CHAR" />
    <result column="CODTAR_PRECIOS" property="codtarPrecios" jdbcType="VARCHAR" />
    <result column="DATOS_PROMOCION" property="datosPromocion" jdbcType="BLOB" />
    <result column="DESTIPOPROMOCION" property="desTipoPromocion" jdbcType="VARCHAR" />
    <result column="CONFIGURACION_TIPO" property="configuracion" jdbcType="BLOB" />    
  </resultMap>
  <sql id="Base_Column_List" >
    UID_ACTIVIDAD, ID_PROMOCION, CODTAR, DESCRIPCION, FECHA_INICIO, FECHA_FIN, SOLO_FIDELIZACION, 
    ID_TIPO_PROMOCION, VERSION_TARIFA, TIPO_DTO, COD_COLECTIVO, EXCLUSIVA, COD_CUPON, 
    APLICA_A_TARIFAS, CODTAR_PRECIOS
  </sql>
  <sql id="Blob_Column_List" >
    DATOS_PROMOCION
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.comerzzia.pos.persistence.promociones.PromocionKey" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from D_PROMOCIONES_CAB_TBL
    where UID_ACTIVIDAD = #{uidActividad,jdbcType=VARCHAR}
      and ID_PROMOCION = #{idPromocion,jdbcType=DECIMAL}
  </select>
  <select resultMap="BaseResultMap" parameterType="com.comerzzia.pos.persistence.promociones.PromocionBean" id="selectByCodAlmacen" >
    SELECT PROMO.UID_ACTIVIDAD,
	       PROMO.ID_PROMOCION,
	       PROMO.CODTAR,
	       PROMO.DESCRIPCION,
	       PROMO.FECHA_INICIO,
	       PROMO.FECHA_FIN,
	       PROMO.SOLO_FIDELIZACION,
	       PROMO.VERSION_TARIFA,
	       PROMO.TIPO_DTO,
	       PROMO.COD_COLECTIVO,
	       PROMO.EXCLUSIVA,
	       PROMO.COD_CUPON,
	       PROMO.DATOS_PROMOCION,
	       PROMO.APLICA_A_TARIFAS,
	       PROMO.CODTAR_PRECIOS,
	       TIPO.ID_TIPO_PROMOCION,
	       TIPO.DESTIPOPROMOCION,
	       TIPO.CONFIGURACION AS CONFIGURACION_TIPO
	  FROM D_PROMOCIONES_CAB_TBL PROMO
	       LEFT JOIN D_PROMOCIONES_ALM_TBL ALM
	           ON (PROMO.UID_ACTIVIDAD = ALM.UID_ACTIVIDAD
	               AND PROMO.ID_PROMOCION = ALM.ID_PROMOCION)
	       LEFT JOIN D_PROMOCIONES_TIPOS_TBL TIPO
	           ON (TIPO.UID_ACTIVIDAD = PROMO.UID_ACTIVIDAD
	               AND TIPO.ID_TIPO_PROMOCION = PROMO.ID_TIPO_PROMOCION)
		WHERE PROMO.UID_ACTIVIDAD = #{uidActividad} 
		     AND (ALM.CODALM = #{codAlmacen} OR ALM.CODALM IS NULL)
		     AND PROMO.FECHA_INICIO <![CDATA[ <= ]]> #{fechaInicio}
		     AND PROMO.FECHA_FIN <![CDATA[ >= ]]> #{fechaInicio}
		     AND PROMO.VERSION_TARIFA IS NOT NULL
	    ORDER BY PROMO.ID_PROMOCION  
  </select>
  
  <select id="checkPromotionsChange" parameterType="com.comerzzia.pos.persistence.promociones.PromocionBean" resultType="java.lang.Integer" >
    SELECT MAX(PROMO.VERSION_TARIFA)+COUNT(PROMO.ID_PROMOCION)
	  FROM D_PROMOCIONES_CAB_TBL PROMO
	       LEFT JOIN D_PROMOCIONES_ALM_TBL ALM
	           ON (PROMO.UID_ACTIVIDAD = ALM.UID_ACTIVIDAD
	               AND PROMO.ID_PROMOCION = ALM.ID_PROMOCION)
		WHERE PROMO.UID_ACTIVIDAD = #{uidActividad} 
		     AND (ALM.CODALM = #{codAlmacen} OR ALM.CODALM IS NULL)
		     AND PROMO.FECHA_INICIO <![CDATA[ <= ]]> #{fechaInicio}
		     AND PROMO.FECHA_FIN <![CDATA[ >= ]]> #{fechaInicio}
		     AND PROMO.VERSION_TARIFA IS NOT NULL  
  </select>  
</mapper>