<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.comerzzia.pos.persistence.cajas.movimientos.CashJournalLineMapper" >
  <resultMap id="BaseResultMap" type="com.comerzzia.pos.persistence.cajas.movimientos.CashJournalLine" >
    <id column="UID_ACTIVIDAD" property="activityId" jdbcType="VARCHAR" />
    <id column="UID_DIARIO_CAJA" property="cashJournalUid" jdbcType="VARCHAR" />
    <id column="LINEA" property="lineId" jdbcType="DECIMAL" />
    <result column="FECHA" property="cashJournalDate" jdbcType="TIMESTAMP" />
    <result column="CARGO" property="output" jdbcType="DECIMAL" />
    <result column="ABONO" property="input" jdbcType="DECIMAL" />
    <result column="CONCEPTO" property="concept" jdbcType="VARCHAR" />
    <result column="DOCUMENTO" property="salesDocCode" jdbcType="VARCHAR" />
    <result column="CODMEDPAG" property="paymentMethodCode" jdbcType="VARCHAR" />
    <result column="ID_DOCUMENTO" property="salesDocUid" jdbcType="VARCHAR" />
    <result column="CODCONCEPTO_MOV" property="movConceptCode" jdbcType="VARCHAR" />
    <result column="ID_TIPO_DOCUMENTO" property="docTypeId" jdbcType="DECIMAL" />
    <result column="UID_TRANSACCION_DET" property="payTransactionLineUid" jdbcType="VARCHAR" />
    <result column="CODDIVISA" property="currencyCode" jdbcType="VARCHAR" />
    <result column="TIPO_DE_CAMBIO" property="changeType" jdbcType="DECIMAL" />
    <result column="USUARIO" property="userCode" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap type="com.comerzzia.pos.persistence.cajas.movimientos.CashJournalSummaryDTO" id="CashJournalSummaryMap">
  	<result column="TIPO_DOCUMENTO" property="docType" jdbcType="DECIMAL" />
  	<result column="DOCUMENTOS" property="docCount" jdbcType="DECIMAL" />
  	<result column="TOTAL" property="total" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    UID_ACTIVIDAD, UID_DIARIO_CAJA, LINEA, FECHA, CARGO, ABONO, CONCEPTO, DOCUMENTO, 
    CODMEDPAG, ID_DOCUMENTO, CODCONCEPTO_MOV, ID_TIPO_DOCUMENTO, UID_TRANSACCION_DET, 
    CODDIVISA, TIPO_DE_CAMBIO, USUARIO
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.comerzzia.pos.persistence.cajas.movimientos.CashJournalLineExample" resultSetType="SCROLL_INSENSITIVE" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from D_CAJA_DET_TBL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.comerzzia.pos.persistence.cajas.movimientos.CashJournalLineKey" >
    select 
    <include refid="Base_Column_List" />
    from D_CAJA_DET_TBL
    where UID_ACTIVIDAD = #{activityId,jdbcType=VARCHAR}
      and UID_DIARIO_CAJA = #{cashJournalUid,jdbcType=VARCHAR}
      and LINEA = #{lineId,jdbcType=DECIMAL}
  </select>
  <insert id="insert" parameterType="com.comerzzia.pos.persistence.cajas.movimientos.CashJournalLine" >
    insert into D_CAJA_DET_TBL (UID_ACTIVIDAD, UID_DIARIO_CAJA, LINEA, 
      FECHA, CARGO, ABONO, 
      CONCEPTO, DOCUMENTO, CODMEDPAG, 
      ID_DOCUMENTO, CODCONCEPTO_MOV, ID_TIPO_DOCUMENTO, 
      UID_TRANSACCION_DET, CODDIVISA, TIPO_DE_CAMBIO, 
      USUARIO)
    values (#{activityId,jdbcType=VARCHAR}, #{cashJournalUid,jdbcType=VARCHAR}, #{lineId,jdbcType=DECIMAL}, 
      #{cashJournalDate,jdbcType=TIMESTAMP}, #{input,jdbcType=DECIMAL}, #{output,jdbcType=DECIMAL}, 
      #{concept,jdbcType=VARCHAR}, #{salesDocCode,jdbcType=VARCHAR}, #{paymentMethodCode,jdbcType=VARCHAR}, 
      #{salesDocUid,jdbcType=VARCHAR}, #{movConceptCode,jdbcType=VARCHAR}, #{docTypeId,jdbcType=DECIMAL}, 
      #{payTransactionLineUid,jdbcType=VARCHAR}, #{currencyCode,jdbcType=VARCHAR}, #{changeType,jdbcType=DECIMAL}, 
      #{userCode,jdbcType=VARCHAR})
  </insert>
  <select resultType="java.lang.Integer" parameterType="com.comerzzia.pos.persistence.cajas.movimientos.CashJournalLineExample" id="selectMaxLineId" >
    select MAX(linea)+1 from D_CAJA_DET_TBL 
     <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>  
  <select id="selectCashJournalSummary" resultMap="CashJournalSummaryMap" resultType="com.comerzzia.pos.persistence.cajas.movimientos.CashJournalSummaryDTO">
  	SELECT TIPO_DOCUMENTO, COUNT(DISTINCT ID_DOCUMENTO) AS DOCUMENTOS, SUM(TOTAL) AS TOTAL
	FROM (
	   SELECT 'SALES' AS TIPO_DOCUMENTO, ID_DOCUMENTO, SUM(CARGO-ABONO) AS TOTAL
	   FROM D_CAJA_DET_TBL
	   WHERE UID_ACTIVIDAD = #{activityId,jdbcType=VARCHAR} AND UID_DIARIO_CAJA = #{cashJournalUid,jdbcType=VARCHAR} AND ID_DOCUMENTO IS NOT NULL
	   GROUP BY ID_DOCUMENTO
	   HAVING  SUM(CARGO-ABONO) &gt;= 0
	   UNION
	   SELECT 'RETURNS' AS TIPO_DOCUMENTO, ID_DOCUMENTO, SUM(CARGO-ABONO) AS TOTAL
	   FROM D_CAJA_DET_TBL
	   WHERE UID_ACTIVIDAD = #{activityId,jdbcType=VARCHAR} AND UID_DIARIO_CAJA = #{cashJournalUid,jdbcType=VARCHAR} AND ID_DOCUMENTO IS NOT NULL
	   GROUP BY ID_DOCUMENTO
	   HAVING  SUM(CARGO-ABONO) &lt; 0
	   UNION
	   SELECT 'MOV_INPUT' AS TIPO_DOCUMENTO, '0' AS ID_DOCUMENTO, SUM(CARGO) AS TOTAL
	   FROM D_CAJA_DET_TBL
	   WHERE UID_ACTIVIDAD = #{activityId,jdbcType=VARCHAR} AND UID_DIARIO_CAJA = #{cashJournalUid,jdbcType=VARCHAR} AND ID_DOCUMENTO IS NULL AND CARGO &lt;&gt; 0
	   UNION
	   SELECT 'MOV_OUTPUT' AS TIPO_DOCUMENTO, '0' AS ID_DOCUMENTO, SUM(ABONO) AS TOTAL
	   FROM D_CAJA_DET_TBL
	   WHERE UID_ACTIVIDAD = #{activityId,jdbcType=VARCHAR} AND UID_DIARIO_CAJA = #{cashJournalUid,jdbcType=VARCHAR} AND ID_DOCUMENTO IS NULL AND ABONO &lt;&gt; 0
	) SUMA
	GROUP BY TIPO_DOCUMENTO
  </select>
</mapper>