<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.comerzzia.pos.persistence.codBarrasEspeciales.CodigoBarrasEspecialMapper" >
  <resultMap id="BaseResultMap" type="com.comerzzia.pos.persistence.codBarrasEspeciales.CodigoBarrasEspecialBean" >
    <id column="UID_ACTIVIDAD" property="uidActividad" jdbcType="VARCHAR" />
    <id column="ORDEN" property="orden" jdbcType="DECIMAL" />
    <result column="DESCRIPCION" property="descripcion" jdbcType="VARCHAR" />
    <result column="PREFIJO" property="prefijo" jdbcType="VARCHAR" />
    <result column="CODART" property="codart" jdbcType="VARCHAR" />
    <result column="PRECIO" property="precio" jdbcType="VARCHAR" />
    <result column="CANTIDAD" property="cantidad" jdbcType="VARCHAR" />
    <result column="FIDELIZACION" property="fidelizacion" jdbcType="CHAR" />
    <result column="CODTICKET" property="codticket" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    UID_ACTIVIDAD, ORDEN, DESCRIPCION, PREFIJO, CODART, PRECIO, CANTIDAD, FIDELIZACION, 
    CODTICKET
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.comerzzia.pos.persistence.codBarrasEspeciales.CodigoBarrasEspecialExample" resultSetType="SCROLL_INSENSITIVE" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from T_CODIGOS_BARRA_ESP_TBL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>