<?xml version="1.0" encoding="UTF-8" ?>
<!--

    ComerZZia 3.0

    Copyright (c) 2008-2015 Comerzzia, S.L.  All Rights Reserved.

    THIS WORK IS  SUBJECT  TO  SPAIN  AND  INTERNATIONAL  COPYRIGHT  LAWS  AND
    TREATIES.   NO  PART  OF  THIS  WORK MAY BE  USED,  PRACTICED,  PERFORMED
    COPIED, DISTRIBUTED, REVISED, MODIFIED, TRANSLATED,  ABRIDGED, CONDENSED,
    EXPANDED,  COLLECTED,  COMPILED,  LINKED,  RECAST, TRANSFORMED OR ADAPTED
    WITHOUT THE PRIOR WRITTEN CONSENT OF COMERZZIA, S.L. ANY USE OR EXPLOITATION
    OF THIS WORK WITHOUT AUTHORIZATION COULD SUBJECT THE PERPETRATOR TO
    CRIMINAL AND CIVIL LIABILITY.

    CONSULT THE END USER LICENSE AGREEMENT FOR INFORMATION ON ADDITIONAL
    RESTRICTIONS.

-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.comerzzia.pos.persistence.core.empresas.POSEmpresaMapper" >
  <resultMap id="BaseResultMap" type="com.comerzzia.pos.persistence.core.empresas.EmpresaBean" >
    <id column="UID_ACTIVIDAD" property="uidActividad" jdbcType="VARCHAR" />
    <id column="CODEMP" property="codEmpresa" jdbcType="VARCHAR" />
    <result column="DESEMP" property="desEmpresa" jdbcType="VARCHAR" />
    <result column="NOMBRE_COMERCIAL" property="nombreComercial" jdbcType="VARCHAR" />
    <result column="DOMICILIO" property="domicilio" jdbcType="VARCHAR" />
    <result column="POBLACION" property="poblacion" jdbcType="VARCHAR" />
    <result column="PROVINCIA" property="provincia" jdbcType="VARCHAR" />
    <result column="CP" property="cp" jdbcType="VARCHAR" />
    <result column="CIF" property="cif" jdbcType="VARCHAR" />
    <result column="TELEFONO1" property="telefono1" jdbcType="VARCHAR" />
    <result column="TELEFONO2" property="telefono2" jdbcType="VARCHAR" />
    <result column="FAX" property="fax" jdbcType="VARCHAR" />
    <result column="ACTIVO" property="activo" jdbcType="CHAR" typeHandler="com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler" />
    <result column="REGISTRO_MERCANTIL" property="registroMercantil" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.comerzzia.pos.persistence.core.empresas.EmpresaBean" extends="BaseResultMap" >
    <result column="LOGOTIPO" property="logotipo" jdbcType="BLOB" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
            <foreach collection="criteria.activoCriteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler} and #{criterion.secondValue,typeHandler=com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem,typeHandler=com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
            <foreach collection="criteria.activoCriteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler} and #{criterion.secondValue,typeHandler=com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem,typeHandler=com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    UID_ACTIVIDAD, CODEMP, DESEMP, NOMBRE_COMERCIAL, DOMICILIO, POBLACION, PROVINCIA, 
    CP, CIF, TELEFONO1, TELEFONO2, FAX, ACTIVO, REGISTRO_MERCANTIL
  </sql>
  <sql id="Blob_Column_List" >
    LOGOTIPO
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.comerzzia.pos.persistence.core.empresas.EmpresaExample" resultSetType="SCROLL_INSENSITIVE" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from D_EMPRESAS_TBL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.comerzzia.pos.persistence.core.empresas.EmpresaExample" resultSetType="SCROLL_INSENSITIVE" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from D_EMPRESAS_TBL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="com.comerzzia.pos.persistence.core.empresas.EmpresaKey" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from D_EMPRESAS_TBL
    where UID_ACTIVIDAD = #{uidActividad,jdbcType=VARCHAR}
      and CODEMP = #{codEmpresa,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.comerzzia.pos.persistence.core.empresas.EmpresaKey" >
    delete from D_EMPRESAS_TBL
    where UID_ACTIVIDAD = #{uidActividad,jdbcType=VARCHAR}
      and CODEMP = #{codEmpresa,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.comerzzia.pos.persistence.core.empresas.EmpresaExample" >
    delete from D_EMPRESAS_TBL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.comerzzia.pos.persistence.core.empresas.EmpresaBean" >
    insert into D_EMPRESAS_TBL (UID_ACTIVIDAD, CODEMP, DESEMP, 
      NOMBRE_COMERCIAL, DOMICILIO, POBLACION, 
      PROVINCIA, CP, CIF, 
      TELEFONO1, TELEFONO2, FAX, 
      ACTIVO, 
      REGISTRO_MERCANTIL, LOGOTIPO)
    values (#{uidActividad,jdbcType=VARCHAR}, #{codEmpresa,jdbcType=VARCHAR}, #{desEmpresa,jdbcType=VARCHAR}, 
      #{nombreComercial,jdbcType=VARCHAR}, #{domicilio,jdbcType=VARCHAR}, #{poblacion,jdbcType=VARCHAR}, 
      #{provincia,jdbcType=VARCHAR}, #{cp,jdbcType=VARCHAR}, #{cif,jdbcType=VARCHAR}, 
      #{telefono1,jdbcType=VARCHAR}, #{telefono2,jdbcType=VARCHAR}, #{fax,jdbcType=VARCHAR}, 
      #{activo,jdbcType=CHAR,typeHandler=com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler}, 
      #{registroMercantil,jdbcType=VARCHAR}, #{logotipo,jdbcType=BLOB})
  </insert>
  <insert id="insertSelective" parameterType="com.comerzzia.pos.persistence.core.empresas.EmpresaBean" >
    insert into D_EMPRESAS_TBL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uidActividad != null" >
        UID_ACTIVIDAD,
      </if>
      <if test="codEmpresa != null" >
        CODEMP,
      </if>
      <if test="desEmpresa != null" >
        DESEMP,
      </if>
      <if test="nombreComercial != null" >
        NOMBRE_COMERCIAL,
      </if>
      <if test="domicilio != null" >
        DOMICILIO,
      </if>
      <if test="poblacion != null" >
        POBLACION,
      </if>
      <if test="provincia != null" >
        PROVINCIA,
      </if>
      <if test="cp != null" >
        CP,
      </if>
      <if test="cif != null" >
        CIF,
      </if>
      <if test="telefono1 != null" >
        TELEFONO1,
      </if>
      <if test="telefono2 != null" >
        TELEFONO2,
      </if>
      <if test="fax != null" >
        FAX,
      </if>
      <if test="activo != null" >
        ACTIVO,
      </if>
      <if test="registroMercantil != null" >
        REGISTRO_MERCANTIL,
      </if>
      <if test="logotipo != null" >
        LOGOTIPO,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uidActividad != null" >
        #{uidActividad,jdbcType=VARCHAR},
      </if>
      <if test="codEmpresa != null" >
        #{codEmpresa,jdbcType=VARCHAR},
      </if>
      <if test="desEmpresa != null" >
        #{desEmpresa,jdbcType=VARCHAR},
      </if>
      <if test="nombreComercial != null" >
        #{nombreComercial,jdbcType=VARCHAR},
      </if>
      <if test="domicilio != null" >
        #{domicilio,jdbcType=VARCHAR},
      </if>
      <if test="poblacion != null" >
        #{poblacion,jdbcType=VARCHAR},
      </if>
      <if test="provincia != null" >
        #{provincia,jdbcType=VARCHAR},
      </if>
      <if test="cp != null" >
        #{cp,jdbcType=VARCHAR},
      </if>
      <if test="cif != null" >
        #{cif,jdbcType=VARCHAR},
      </if>
      <if test="telefono1 != null" >
        #{telefono1,jdbcType=VARCHAR},
      </if>
      <if test="telefono2 != null" >
        #{telefono2,jdbcType=VARCHAR},
      </if>
      <if test="fax != null" >
        #{fax,jdbcType=VARCHAR},
      </if>
      <if test="activo != null" >
        #{activo,jdbcType=CHAR,typeHandler=com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler},
      </if>
      <if test="registroMercantil != null" >
        #{registroMercantil,jdbcType=VARCHAR},
      </if>
      <if test="logotipo != null" >
        #{logotipo,jdbcType=BLOB},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.comerzzia.pos.persistence.core.empresas.EmpresaExample" resultType="java.lang.Integer" >
    select count(*) from D_EMPRESAS_TBL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update D_EMPRESAS_TBL
    <set >
      <if test="record.uidActividad != null" >
        UID_ACTIVIDAD = #{record.uidActividad,jdbcType=VARCHAR},
      </if>
      <if test="record.codEmpresa != null" >
        CODEMP = #{record.codEmpresa,jdbcType=VARCHAR},
      </if>
      <if test="record.desEmpresa != null" >
        DESEMP = #{record.desEmpresa,jdbcType=VARCHAR},
      </if>
      <if test="record.nombreComercial != null" >
        NOMBRE_COMERCIAL = #{record.nombreComercial,jdbcType=VARCHAR},
      </if>
      <if test="record.domicilio != null" >
        DOMICILIO = #{record.domicilio,jdbcType=VARCHAR},
      </if>
      <if test="record.poblacion != null" >
        POBLACION = #{record.poblacion,jdbcType=VARCHAR},
      </if>
      <if test="record.provincia != null" >
        PROVINCIA = #{record.provincia,jdbcType=VARCHAR},
      </if>
      <if test="record.cp != null" >
        CP = #{record.cp,jdbcType=VARCHAR},
      </if>
      <if test="record.cif != null" >
        CIF = #{record.cif,jdbcType=VARCHAR},
      </if>
      <if test="record.telefono1 != null" >
        TELEFONO1 = #{record.telefono1,jdbcType=VARCHAR},
      </if>
      <if test="record.telefono2 != null" >
        TELEFONO2 = #{record.telefono2,jdbcType=VARCHAR},
      </if>
      <if test="record.fax != null" >
        FAX = #{record.fax,jdbcType=VARCHAR},
      </if>
      <if test="record.activo != null" >
        ACTIVO = #{record.activo,jdbcType=CHAR,typeHandler=com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler},
      </if>
      <if test="record.registroMercantil != null" >
        REGISTRO_MERCANTIL = #{record.registroMercantil,jdbcType=VARCHAR},
      </if>
      <if test="record.logotipo != null" >
        LOGOTIPO = #{record.logotipo,jdbcType=BLOB},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update D_EMPRESAS_TBL
    set UID_ACTIVIDAD = #{record.uidActividad,jdbcType=VARCHAR},
      CODEMP = #{record.codEmpresa,jdbcType=VARCHAR},
      DESEMP = #{record.desEmpresa,jdbcType=VARCHAR},
      NOMBRE_COMERCIAL = #{record.nombreComercial,jdbcType=VARCHAR},
      DOMICILIO = #{record.domicilio,jdbcType=VARCHAR},
      POBLACION = #{record.poblacion,jdbcType=VARCHAR},
      PROVINCIA = #{record.provincia,jdbcType=VARCHAR},
      CP = #{record.cp,jdbcType=VARCHAR},
      CIF = #{record.cif,jdbcType=VARCHAR},
      TELEFONO1 = #{record.telefono1,jdbcType=VARCHAR},
      TELEFONO2 = #{record.telefono2,jdbcType=VARCHAR},
      FAX = #{record.fax,jdbcType=VARCHAR},
      ACTIVO = #{record.activo,jdbcType=CHAR,typeHandler=com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler},
      REGISTRO_MERCANTIL = #{record.registroMercantil,jdbcType=VARCHAR},
      LOGOTIPO = #{record.logotipo,jdbcType=BLOB}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update D_EMPRESAS_TBL
    set UID_ACTIVIDAD = #{record.uidActividad,jdbcType=VARCHAR},
      CODEMP = #{record.codEmpresa,jdbcType=VARCHAR},
      DESEMP = #{record.desEmpresa,jdbcType=VARCHAR},
      NOMBRE_COMERCIAL = #{record.nombreComercial,jdbcType=VARCHAR},
      DOMICILIO = #{record.domicilio,jdbcType=VARCHAR},
      POBLACION = #{record.poblacion,jdbcType=VARCHAR},
      PROVINCIA = #{record.provincia,jdbcType=VARCHAR},
      CP = #{record.cp,jdbcType=VARCHAR},
      CIF = #{record.cif,jdbcType=VARCHAR},
      TELEFONO1 = #{record.telefono1,jdbcType=VARCHAR},
      TELEFONO2 = #{record.telefono2,jdbcType=VARCHAR},
      FAX = #{record.fax,jdbcType=VARCHAR},
      ACTIVO = #{record.activo,jdbcType=CHAR,typeHandler=com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler},
      REGISTRO_MERCANTIL = #{record.registroMercantil,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.comerzzia.pos.persistence.core.empresas.EmpresaBean" >
    update D_EMPRESAS_TBL
    <set >
      <if test="desEmpresa != null" >
        DESEMP = #{desEmpresa,jdbcType=VARCHAR},
      </if>
      <if test="nombreComercial != null" >
        NOMBRE_COMERCIAL = #{nombreComercial,jdbcType=VARCHAR},
      </if>
      <if test="domicilio != null" >
        DOMICILIO = #{domicilio,jdbcType=VARCHAR},
      </if>
      <if test="poblacion != null" >
        POBLACION = #{poblacion,jdbcType=VARCHAR},
      </if>
      <if test="provincia != null" >
        PROVINCIA = #{provincia,jdbcType=VARCHAR},
      </if>
      <if test="cp != null" >
        CP = #{cp,jdbcType=VARCHAR},
      </if>
      <if test="cif != null" >
        CIF = #{cif,jdbcType=VARCHAR},
      </if>
      <if test="telefono1 != null" >
        TELEFONO1 = #{telefono1,jdbcType=VARCHAR},
      </if>
      <if test="telefono2 != null" >
        TELEFONO2 = #{telefono2,jdbcType=VARCHAR},
      </if>
      <if test="fax != null" >
        FAX = #{fax,jdbcType=VARCHAR},
      </if>
      <if test="activo != null" >
        ACTIVO = #{activo,jdbcType=CHAR,typeHandler=com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler},
      </if>
      <if test="registroMercantil != null" >
        REGISTRO_MERCANTIL = #{registroMercantil,jdbcType=VARCHAR},
      </if>
      <if test="logotipo != null" >
        LOGOTIPO = #{logotipo,jdbcType=BLOB},
      </if>
    </set>
    where UID_ACTIVIDAD = #{uidActividad,jdbcType=VARCHAR}
      and CODEMP = #{codEmpresa,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.comerzzia.pos.persistence.core.empresas.EmpresaBean" >
    update D_EMPRESAS_TBL
    set DESEMP = #{desEmpresa,jdbcType=VARCHAR},
      NOMBRE_COMERCIAL = #{nombreComercial,jdbcType=VARCHAR},
      DOMICILIO = #{domicilio,jdbcType=VARCHAR},
      POBLACION = #{poblacion,jdbcType=VARCHAR},
      PROVINCIA = #{provincia,jdbcType=VARCHAR},
      CP = #{cp,jdbcType=VARCHAR},
      CIF = #{cif,jdbcType=VARCHAR},
      TELEFONO1 = #{telefono1,jdbcType=VARCHAR},
      TELEFONO2 = #{telefono2,jdbcType=VARCHAR},
      FAX = #{fax,jdbcType=VARCHAR},
      ACTIVO = #{activo,jdbcType=CHAR,typeHandler=com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler},
      REGISTRO_MERCANTIL = #{registroMercantil,jdbcType=VARCHAR},
      LOGOTIPO = #{logotipo,jdbcType=BLOB}
    where UID_ACTIVIDAD = #{uidActividad,jdbcType=VARCHAR}
      and CODEMP = #{codEmpresa,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.comerzzia.pos.persistence.core.empresas.EmpresaBean" >
    update D_EMPRESAS_TBL
    set DESEMP = #{desEmpresa,jdbcType=VARCHAR},
      NOMBRE_COMERCIAL = #{nombreComercial,jdbcType=VARCHAR},
      DOMICILIO = #{domicilio,jdbcType=VARCHAR},
      POBLACION = #{poblacion,jdbcType=VARCHAR},
      PROVINCIA = #{provincia,jdbcType=VARCHAR},
      CP = #{cp,jdbcType=VARCHAR},
      CIF = #{cif,jdbcType=VARCHAR},
      TELEFONO1 = #{telefono1,jdbcType=VARCHAR},
      TELEFONO2 = #{telefono2,jdbcType=VARCHAR},
      FAX = #{fax,jdbcType=VARCHAR},
      ACTIVO = #{activo,jdbcType=CHAR,typeHandler=com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler},
      REGISTRO_MERCANTIL = #{registroMercantil,jdbcType=VARCHAR}
    where UID_ACTIVIDAD = #{uidActividad,jdbcType=VARCHAR}
      and CODEMP = #{codEmpresa,jdbcType=VARCHAR}
  </update>
  <select resultMap="ResultMapWithBLOBs" parameterType="com.comerzzia.pos.persistence.core.empresas.EmpresaExample" id="selectByExampleWithBLOBsWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from D_EMPRESAS_TBL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select resultMap="BaseResultMap" parameterType="com.comerzzia.pos.persistence.core.empresas.EmpresaExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from D_EMPRESAS_TBL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>