<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.comerzzia.omnichannel.repository.paytransaction.PayTransactionMapper" >
  <resultMap id="BaseResultMap" type="com.comerzzia.omnichannel.domain.entity.paytransaction.PayTransactionEntity" >
    <id column="UID_ACTIVIDAD" property="activityId" jdbcType="VARCHAR" />
    <id column="UID_TRANSACCION" property="payTransactionUid" jdbcType="VARCHAR" />
    <result column="UID_CAJA" property="posUid" jdbcType="VARCHAR" />
    <result column="UID_DIARIO_CAJA" property="cashJournalUid" jdbcType="VARCHAR" />
    <result column="UID_DOCUMENTO" property="salesDocUid" jdbcType="VARCHAR" />
    <result column="FECHA_TRANSACCION" property="payTransactionDate" jdbcType="TIMESTAMP" />
    <result column="FECHA_INICIO_TRANSACCION" property="startDate" jdbcType="TIMESTAMP" />
    <result column="FECHA_FIN_TRANSACCION" property="endDate" jdbcType="TIMESTAMP" />
    <result column="IMPORTE" property="amount" jdbcType="DECIMAL" />
    <result column="CODDIVISA" property="currencyCode" jdbcType="VARCHAR" />
    <result column="ESTADO" property="statusId" jdbcType="DECIMAL" />
    <result column="UID_TRANSACCION_ENL" property="payTransactionUidLink" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    UID_ACTIVIDAD, UID_TRANSACCION, UID_CAJA, UID_DIARIO_CAJA, UID_DOCUMENTO, FECHA_TRANSACCION, 
    FECHA_INICIO_TRANSACCION, FECHA_FIN_TRANSACCION, IMPORTE, CODDIVISA, ESTADO, UID_TRANSACCION_ENL
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.comerzzia.omnichannel.domain.entity.paytransaction.PayTransactionKey" >
    select 
    <include refid="Base_Column_List" />
    from D_CAJA_TRANSACCIONES_CAB_TBL
    where UID_ACTIVIDAD = #{activityId,jdbcType=VARCHAR}
      and UID_TRANSACCION = #{payTransactionUid,jdbcType=VARCHAR}
  </select>
  <insert id="insert" parameterType="com.comerzzia.omnichannel.domain.entity.paytransaction.PayTransactionEntity" >
    insert into D_CAJA_TRANSACCIONES_CAB_TBL (UID_ACTIVIDAD, UID_TRANSACCION, UID_CAJA, 
      UID_DIARIO_CAJA, UID_DOCUMENTO, FECHA_TRANSACCION, 
      FECHA_INICIO_TRANSACCION, FECHA_FIN_TRANSACCION, 
      IMPORTE, CODDIVISA, ESTADO, UID_TRANSACCION_ENL
      )
    values (#{activityId,jdbcType=VARCHAR}, #{payTransactionUid,jdbcType=VARCHAR}, #{posUid,jdbcType=VARCHAR}, 
      #{cashJournalUid,jdbcType=VARCHAR}, #{salesDocUid,jdbcType=VARCHAR}, #{payTransactionDate,jdbcType=TIMESTAMP}, 
      #{startDate,jdbcType=TIMESTAMP}, #{endDate,jdbcType=TIMESTAMP}, 
      #{amount,jdbcType=DECIMAL}, #{currencyCode,jdbcType=VARCHAR}, #{statusId,jdbcType=DECIMAL}, #{payTransactionUidLink,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateTransactionStatus" parameterType="map" >
    update D_CAJA_TRANSACCIONES_CAB_TBL
    set 
      ESTADO = #{newStatusId,jdbcType=DECIMAL},
      UID_TRANSACCION_ENL = #{payTransactionUidLink,jdbcType=VARCHAR}
    where UID_ACTIVIDAD = #{activityId,jdbcType=VARCHAR}
      and UID_TRANSACCION = #{payTransactionUid,jdbcType=VARCHAR}
      and ESTADO = #{expectedStatusId,jdbcType=DECIMAL}
  </update>  
</mapper>