<?xml version="1.0" encoding="UTF-8" ?>
<!--

    ComerZZia 3.0

    Copyright (c) 2008-2015 Comerzzia, S.L.  All Rights Reserved.

    THIS WORK IS  SUBJECT  TO  SPAIN  AND  INTERNATIONAL  COPYRIGHT  LAWS  AND
    TREATIES.   NO  PART  OF  THIS  WORK MAY BE  USED,  PRACTICED,  PERFORMED
    COPIED, DISTRIBUTED, REVISED, MODIFIED, TRANSLATED,  ABRIDGED, CONDENSED,
    EXPANDED,  COLLECTED,  COMPILED,  LINKED,  RECAST, TRANSFORMED OR ADAPTED
    WITHOUT THE PRIOR WRITTEN CONSENT OF COMERZZIA, S.L. ANY USE OR EXPLOITATION
    OF THIS WORK WITHOUT AUTHORIZATION COULD SUBJECT THE PERPETRATOR TO
    CRIMINAL AND CIVIL LIABILITY.

    CONSULT THE END USER LICENSE AGREEMENT FOR INFORMATION ON ADDITIONAL
    RESTRICTIONS.

-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.comerzzia.pos.persistence.core.documentos.propiedades.POSPropiedadDocumentoMapper" >
  <resultMap id="BaseResultMap" type="com.comerzzia.pos.persistence.core.documentos.propiedades.PropiedadDocumentoBean" >
    <id column="UID_ACTIVIDAD" property="uidActividad" jdbcType="VARCHAR" />
    <id column="ID_TIPO_DOCUMENTO" property="idTipoDocumento" jdbcType="DECIMAL" />
    <id column="PROPIEDAD" property="propiedad" jdbcType="VARCHAR" />
    <result column="VALOR" property="valor" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    UID_ACTIVIDAD, ID_TIPO_DOCUMENTO, PROPIEDAD, VALOR
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.comerzzia.pos.persistence.core.documentos.propiedades.PropiedadDocumentoExample" resultSetType="SCROLL_INSENSITIVE" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from D_TIPOS_DOCUMENTOS_PROP_TBL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.comerzzia.pos.persistence.core.documentos.propiedades.PropiedadDocumentoKey" >
    select 
    <include refid="Base_Column_List" />
    from D_TIPOS_DOCUMENTOS_PROP_TBL
    where UID_ACTIVIDAD = #{uidActividad,jdbcType=VARCHAR}
      and ID_TIPO_DOCUMENTO = #{idTipoDocumento,jdbcType=DECIMAL}
      and PROPIEDAD = #{propiedad,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.comerzzia.pos.persistence.core.documentos.propiedades.PropiedadDocumentoKey" >
    delete from D_TIPOS_DOCUMENTOS_PROP_TBL
    where UID_ACTIVIDAD = #{uidActividad,jdbcType=VARCHAR}
      and ID_TIPO_DOCUMENTO = #{idTipoDocumento,jdbcType=DECIMAL}
      and PROPIEDAD = #{propiedad,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.comerzzia.pos.persistence.core.documentos.propiedades.PropiedadDocumentoExample" >
    delete from D_TIPOS_DOCUMENTOS_PROP_TBL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.comerzzia.pos.persistence.core.documentos.propiedades.PropiedadDocumentoBean" >
    insert into D_TIPOS_DOCUMENTOS_PROP_TBL (UID_ACTIVIDAD, ID_TIPO_DOCUMENTO, PROPIEDAD, 
      VALOR)
    values (#{uidActividad,jdbcType=VARCHAR}, #{idTipoDocumento,jdbcType=DECIMAL}, #{propiedad,jdbcType=VARCHAR}, 
      #{valor,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.comerzzia.pos.persistence.core.documentos.propiedades.PropiedadDocumentoBean" >
    insert into D_TIPOS_DOCUMENTOS_PROP_TBL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uidActividad != null" >
        UID_ACTIVIDAD,
      </if>
      <if test="idTipoDocumento != null" >
        ID_TIPO_DOCUMENTO,
      </if>
      <if test="propiedad != null" >
        PROPIEDAD,
      </if>
      <if test="valor != null" >
        VALOR,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uidActividad != null" >
        #{uidActividad,jdbcType=VARCHAR},
      </if>
      <if test="idTipoDocumento != null" >
        #{idTipoDocumento,jdbcType=DECIMAL},
      </if>
      <if test="propiedad != null" >
        #{propiedad,jdbcType=VARCHAR},
      </if>
      <if test="valor != null" >
        #{valor,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.comerzzia.pos.persistence.core.documentos.propiedades.PropiedadDocumentoExample" resultType="java.lang.Integer" >
    select count(*) from D_TIPOS_DOCUMENTOS_PROP_TBL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update D_TIPOS_DOCUMENTOS_PROP_TBL
    <set >
      <if test="record.uidActividad != null" >
        UID_ACTIVIDAD = #{record.uidActividad,jdbcType=VARCHAR},
      </if>
      <if test="record.idTipoDocumento != null" >
        ID_TIPO_DOCUMENTO = #{record.idTipoDocumento,jdbcType=DECIMAL},
      </if>
      <if test="record.propiedad != null" >
        PROPIEDAD = #{record.propiedad,jdbcType=VARCHAR},
      </if>
      <if test="record.valor != null" >
        VALOR = #{record.valor,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update D_TIPOS_DOCUMENTOS_PROP_TBL
    set UID_ACTIVIDAD = #{record.uidActividad,jdbcType=VARCHAR},
      ID_TIPO_DOCUMENTO = #{record.idTipoDocumento,jdbcType=DECIMAL},
      PROPIEDAD = #{record.propiedad,jdbcType=VARCHAR},
      VALOR = #{record.valor,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.comerzzia.pos.persistence.core.documentos.propiedades.PropiedadDocumentoBean" >
    update D_TIPOS_DOCUMENTOS_PROP_TBL
    <set >
      <if test="valor != null" >
        VALOR = #{valor,jdbcType=VARCHAR},
      </if>
    </set>
    where UID_ACTIVIDAD = #{uidActividad,jdbcType=VARCHAR}
      and ID_TIPO_DOCUMENTO = #{idTipoDocumento,jdbcType=DECIMAL}
      and PROPIEDAD = #{propiedad,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.comerzzia.pos.persistence.core.documentos.propiedades.PropiedadDocumentoBean" >
    update D_TIPOS_DOCUMENTOS_PROP_TBL
    set VALOR = #{valor,jdbcType=VARCHAR}
    where UID_ACTIVIDAD = #{uidActividad,jdbcType=VARCHAR}
      and ID_TIPO_DOCUMENTO = #{idTipoDocumento,jdbcType=DECIMAL}
      and PROPIEDAD = #{propiedad,jdbcType=VARCHAR}
  </update>
  <select resultMap="BaseResultMap" parameterType="com.comerzzia.pos.persistence.core.documentos.propiedades.PropiedadDocumentoExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from D_TIPOS_DOCUMENTOS_PROP_TBL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>