<?xml version="1.0" encoding="UTF-8"?>
<!--

    ComerZZia 3.0

    Copyright (c) 2008-2015 Comerzzia, S.L.  All Rights Reserved.

    THIS WORK IS  SUBJECT  TO  SPAIN  AND  INTERNATIONAL  COPYRIGHT  LAWS  AND
    TREATIES.   NO  PART  OF  THIS  WORK MAY BE  USED,  PRACTICED,  PERFORMED
    COPIED, DISTRIBUTED, REVISED, MODIFIED, TRANSLATED,  ABRIDGED, CONDENSED,
    EXPANDED,  COLLECTED,  COMPILED,  LINKED,  RECAST, TRANSFORMED OR ADAPTED
    WITHOUT THE PRIOR WRITTEN CONSENT OF COMERZZIA, S.L. ANY USE OR EXPLOITATION
    OF THIS WORK WITHOUT AUTHORIZATION COULD SUBJECT THE PERPETRATOR TO
    CRIMINAL AND CIVIL LIABILITY.

    CONSULT THE END USER LICENSE AGREEMENT FOR INFORMATION ON ADDITIONAL
    RESTRICTIONS.

-->
<!DOCTYPE generatorConfiguration
  PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
  "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
  
<generatorConfiguration>
	<classPathEntry location="D:\Users\vagp\Recursos\mysql-connector-j-8.3.0\mysql-connector-j-8.3.0.jar" />
	<context id="COMERZZIA" targetRuntime="MyBatis3">
	
		<plugin type="org.mybatis.generator.plugins.CaseInsensitiveLikePlugin"/>
		<plugin type="org.mybatis.generator.plugins.RowBoundsPlugin"/>
	
		<commentGenerator>
			<property name="suppressAllComments" value="true"/>
		</commentGenerator>	
	    <jdbcConnection driverClass="com.mysql.jdbc.Driver"
	        connectionURL="jdbc:mysql://172.16.102.35:33062/czz_unide?serverTimezone=Europe/Madrid"
	        userId="czz_unide"
	        password="czz_unide">
	    </jdbcConnection>
	    
	    <javaModelGenerator 
	    targetPackage="com.comerzzia.unide.api.persistence.coupons.links"
	    targetProject="server-loyalty/src/main/java">
	      <property name="enableSubPackages" value="false" />
	      <property name="trimStrings" value="true" />
<!-- 	      <property name="extendsClass" value="com.comerzzia.core.util.base.MantenimientoBean"/> -->
	     </javaModelGenerator>
	    
	    <sqlMapGenerator 
	    targetPackage="com.comerzzia.unide.api.persistence.coupons.links"  
	    targetProject="server-loyalty/src/main/java">
	      <property name="enableSubPackages" value="false" />
	    </sqlMapGenerator>
	
	    <javaClientGenerator type="XMLMAPPER" 
		    targetPackage="com.comerzzia.unide.api.persistence.coupons.links" 
		    targetProject="server-loyalty/src/main/java">
	      <property name="enableSubPackages" value="false" />
	    </javaClientGenerator>
	
	    <table tableName="LY_COUPONS_LINKS_TBL" domainObjectName="UNIDECouponLink" >
	    	
	    </table>
	</context>
</generatorConfiguration>