<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.comerzzia.api.loyalty.persistence.customers.wishlists.LoyalCustomerWishListsMapper" >
  <resultMap id="BaseResultMap" type="com.comerzzia.api.loyalty.persistence.customers.wishlists.ListaDeseosFidelizadoBean" >
    <id column="UID_ACTIVIDAD" property="uidActividad" jdbcType="VARCHAR" />
    <id column="UID_LISTA_DESEOS" property="uidListaDeseos" jdbcType="VARCHAR" />
    <result column="ID_FIDELIZADO" property="idFidelizado" jdbcType="DECIMAL" />
    <result column="NOMBRE" property="nombre" jdbcType="VARCHAR" />
    <result column="FECHA" property="fecha" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    UID_ACTIVIDAD, UID_LISTA_DESEOS, ID_FIDELIZADO, NOMBRE, FECHA
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.comerzzia.api.loyalty.persistence.customers.wishlists.ListaDeseosFidelizadoExample" resultSetType="SCROLL_INSENSITIVE" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from TV_LISTAS_DESEOS_CAB_TBL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.comerzzia.api.loyalty.persistence.customers.wishlists.ListaDeseosFidelizadoKey" >
    select 
    <include refid="Base_Column_List" />
    from TV_LISTAS_DESEOS_CAB_TBL
    where UID_ACTIVIDAD = #{uidActividad,jdbcType=VARCHAR}
      and UID_LISTA_DESEOS = #{uidListaDeseos,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.comerzzia.api.loyalty.persistence.customers.wishlists.ListaDeseosFidelizadoKey" >
    delete from TV_LISTAS_DESEOS_CAB_TBL
    where UID_ACTIVIDAD = #{uidActividad,jdbcType=VARCHAR}
      and UID_LISTA_DESEOS = #{uidListaDeseos,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.comerzzia.api.loyalty.persistence.customers.wishlists.ListaDeseosFidelizadoExample" >
    delete from TV_LISTAS_DESEOS_CAB_TBL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.comerzzia.api.loyalty.persistence.customers.wishlists.ListaDeseosFidelizadoBean" >
    insert into TV_LISTAS_DESEOS_CAB_TBL (UID_ACTIVIDAD, UID_LISTA_DESEOS, ID_FIDELIZADO, 
      NOMBRE, FECHA)
    values (#{uidActividad,jdbcType=VARCHAR}, #{uidListaDeseos,jdbcType=VARCHAR}, #{idFidelizado,jdbcType=DECIMAL}, 
      #{nombre,jdbcType=VARCHAR}, #{fecha,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.comerzzia.api.loyalty.persistence.customers.wishlists.ListaDeseosFidelizadoBean" >
    insert into TV_LISTAS_DESEOS_CAB_TBL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uidActividad != null" >
        UID_ACTIVIDAD,
      </if>
      <if test="uidListaDeseos != null" >
        UID_LISTA_DESEOS,
      </if>
      <if test="idFidelizado != null" >
        ID_FIDELIZADO,
      </if>
      <if test="nombre != null" >
        NOMBRE,
      </if>
      <if test="fecha != null" >
        FECHA,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uidActividad != null" >
        #{uidActividad,jdbcType=VARCHAR},
      </if>
      <if test="uidListaDeseos != null" >
        #{uidListaDeseos,jdbcType=VARCHAR},
      </if>
      <if test="idFidelizado != null" >
        #{idFidelizado,jdbcType=DECIMAL},
      </if>
      <if test="nombre != null" >
        #{nombre,jdbcType=VARCHAR},
      </if>
      <if test="fecha != null" >
        #{fecha,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.comerzzia.api.loyalty.persistence.customers.wishlists.ListaDeseosFidelizadoExample" resultType="java.lang.Integer" >
    select count(*) from TV_LISTAS_DESEOS_CAB_TBL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update TV_LISTAS_DESEOS_CAB_TBL
    <set >
      <if test="record.uidActividad != null" >
        UID_ACTIVIDAD = #{record.uidActividad,jdbcType=VARCHAR},
      </if>
      <if test="record.uidListaDeseos != null" >
        UID_LISTA_DESEOS = #{record.uidListaDeseos,jdbcType=VARCHAR},
      </if>
      <if test="record.idFidelizado != null" >
        ID_FIDELIZADO = #{record.idFidelizado,jdbcType=DECIMAL},
      </if>
      <if test="record.nombre != null" >
        NOMBRE = #{record.nombre,jdbcType=VARCHAR},
      </if>
      <if test="record.fecha != null" >
        FECHA = #{record.fecha,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update TV_LISTAS_DESEOS_CAB_TBL
    set UID_ACTIVIDAD = #{record.uidActividad,jdbcType=VARCHAR},
      UID_LISTA_DESEOS = #{record.uidListaDeseos,jdbcType=VARCHAR},
      ID_FIDELIZADO = #{record.idFidelizado,jdbcType=DECIMAL},
      NOMBRE = #{record.nombre,jdbcType=VARCHAR},
      FECHA = #{record.fecha,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.comerzzia.api.loyalty.persistence.customers.wishlists.ListaDeseosFidelizadoBean" >
    update TV_LISTAS_DESEOS_CAB_TBL
    <set >
      <if test="idFidelizado != null" >
        ID_FIDELIZADO = #{idFidelizado,jdbcType=DECIMAL},
      </if>
      <if test="nombre != null" >
        NOMBRE = #{nombre,jdbcType=VARCHAR},
      </if>
      <if test="fecha != null" >
        FECHA = #{fecha,jdbcType=TIMESTAMP},
      </if>
    </set>
    where UID_ACTIVIDAD = #{uidActividad,jdbcType=VARCHAR}
      and UID_LISTA_DESEOS = #{uidListaDeseos,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.comerzzia.api.loyalty.persistence.customers.wishlists.ListaDeseosFidelizadoBean" >
    update TV_LISTAS_DESEOS_CAB_TBL
    set ID_FIDELIZADO = #{idFidelizado,jdbcType=DECIMAL},
      NOMBRE = #{nombre,jdbcType=VARCHAR},
      FECHA = #{fecha,jdbcType=TIMESTAMP}
    where UID_ACTIVIDAD = #{uidActividad,jdbcType=VARCHAR}
      and UID_LISTA_DESEOS = #{uidListaDeseos,jdbcType=VARCHAR}
  </update>
  <select resultMap="BaseResultMap" parameterType="com.comerzzia.api.loyalty.persistence.customers.wishlists.ListaDeseosFidelizadoExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from TV_LISTAS_DESEOS_CAB_TBL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>