<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.comerzzia.pos.persistence.promociones.detalle.PromocionDetalleMapper" >
  <resultMap id="BaseResultMap" type="com.comerzzia.pos.persistence.promociones.detalle.PromocionDetalleBean" >
    <id column="UID_ACTIVIDAD" property="uidActividad" jdbcType="VARCHAR" />
    <id column="ID_PROMOCION" property="idPromocion" jdbcType="DECIMAL" />
    <id column="CODART" property="codArticulo" jdbcType="VARCHAR" />
    <id column="DESGLOSE1" property="desglose1" jdbcType="VARCHAR" />
    <id column="DESGLOSE2" property="desglose2" jdbcType="VARCHAR" />
    <result column="PRECIO_TARIFA" property="precioTarifa" jdbcType="DECIMAL" />
    <result column="PRECIO_TARIFA_TOTAL" property="precioTarifaTotal" jdbcType="DECIMAL" />
    <result column="PRECIO_VENTA" property="precioVenta" jdbcType="DECIMAL" />
    <result column="PRECIO_TOTAL" property="precioTotal" jdbcType="DECIMAL" />
    <result column="PUNTOS" property="puntos" jdbcType="DECIMAL" />
    <result column="TEXTO_PROMOCION" property="textoPromocion" jdbcType="VARCHAR" />
    <result column="FECHA_INICIO" property="fechaInicio" jdbcType="TIMESTAMP" />
    <result column="FECHA_FIN" property="fechaFin" jdbcType="TIMESTAMP" />
    <result column="VERSION_TARIFA" property="versionTarifa" jdbcType="DECIMAL" />
    <result column="ID_AGRUPACION" property="idAgrupacion" jdbcType="DECIMAL" />
    <result column="AGRUPACION" property="agrupacion" jdbcType="VARCHAR" />
    <result column="DATOS_PROMOCION" property="datosPromocion" jdbcType="BLOB" />
  </resultMap>
  <sql id="Base_Column_List" >
    UID_ACTIVIDAD, ID_PROMOCION, CODART, DESGLOSE1, DESGLOSE2, PRECIO_TARIFA, PRECIO_TARIFA_TOTAL, 
    PRECIO_VENTA, PRECIO_TOTAL, PUNTOS, TEXTO_PROMOCION, FECHA_INICIO, FECHA_FIN, VERSION_TARIFA, 
    ID_AGRUPACION, AGRUPACION, DATOS_PROMOCION
  </sql>
  <select id="selectByPromotionId" resultMap="BaseResultMap" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    from D_PROMOCIONES_DET_TBL
    where UID_ACTIVIDAD = #{uidActividad,jdbcType=VARCHAR}
      and ID_PROMOCION = #{promotionId,jdbcType=DECIMAL}
  </select>
</mapper>