<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
	PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
	"http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
	<classPathEntry
		location="D:\Java\mysql-connector-java-5.1.6-bin.jar" />
	<context id="comerzzia" targetRuntime="MyBatis3">

		<commentGenerator>
			<property name="supressAllComments" value="true" />
		</commentGenerator>

		<jdbcConnection driverClass="com.mysql.jdbc.Driver"
			connectionURL="jdbc:mysql://172.16.100.75:31071/czz_bricodepot"
			userId="czz_bricodepot" password="fuego">
		</jdbcConnection>

		<javaModelGenerator
			targetPackage="com.comerzzia.bricodepot.backoffice.persistence.albaranes.venta.pagos"
			targetProject="comerzzia-custom-backoffice-services/src/main/java">
			<property name="enableSubPackages" value="false" />
			<property name="trimStrings" value="true" />
		</javaModelGenerator>

		<sqlMapGenerator
			targetPackage="com.comerzzia.bricodepot.backoffice.persistence.albaranes.venta.pagos"
			targetProject="comerzzia-custom-backoffice-services/src/main/java">
			<property name="enableSubPackages" value="false" />
		</sqlMapGenerator>

		<javaClientGenerator type="XMLMAPPER"
			targetPackage="com.comerzzia.bricodepot.backoffice.persistence.albaranes.venta.pagos"
			targetProject="comerzzia-custom-backoffice-services/src/main/java">
			<property name="enableSubPackages" value="false" />
		</javaClientGenerator>

		<table tableName="X_CLIE_ALBARANES_PAG_TBL"
			domainObjectName="CustomAlbaranPag">
		</table>
	</context>

</generatorConfiguration>