<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.comerzzia.omnichannel.repository.item.ItemMapper" >
  <resultMap id="BaseResultMap" type="com.comerzzia.omnichannel.domain.entity.item.ItemEntity" >
    <result column="TAX_CODE" property="taxCode" jdbcType="CHAR" />
    <result column="ACTIVE" property="active" jdbcType="CHAR" typeHandler="com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler" />
    <result column="CONFIRM_SALES_PRICE" property="confirmSalesPrice" jdbcType="CHAR" typeHandler="com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler" />
    <result column="FEATURED" property="featured" jdbcType="CHAR" typeHandler="com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler" />
    <result column="SERIAL_NUMBERS_ACTIVE" property="serialNumbersActive" jdbcType="CHAR" typeHandler="com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler" />
    <result column="COMBINATION1_ACTIVE" property="combination1Active" jdbcType="CHAR" typeHandler="com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler" />
    <result column="COMBINATION2_ACTIVE" property="combination2Active" jdbcType="CHAR" typeHandler="com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler" />
    <result column="GENERIC_ITEM" property="genericItem" jdbcType="CHAR" typeHandler="com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler" />
    <result column="WEIGHT_REQUIRED" property="weightRequired" jdbcType="CHAR" typeHandler="com.comerzzia.omnichannel.repository.item.WeightRequiredTypeHandler" />    
  </resultMap>
  
  <sql id="Base_Column_List" >
    ITEM.UID_ACTIVIDAD AS ACTIVITY_UID,                       
	ITEM.CODART AS ITEM_CODE,                                
	ITEM.DESART AS ITEM_DES,       
	ITEM.FORMATO AS FORMAT,	                          
	ITEM.CODFAM AS FAMILY_CODE,                              
	ITEM.CODSECCION AS SECTION_CODE,                         
	ITEM.CODCAT AS CATEGORY_CODE,                            
	ITEM.CODPRO AS SUPPLIER_CODE,
	ITEM.REFERENCIA_PROVEEDOR AS SUPPLIER_REFERENCE,                            
	ITEM.CODFAB AS MANUFACTURER_CODE,                        
	ITEM.CODIMP AS TAX_TYPE_CODE,                            
	ITEM.OBSERVACIONES AS COMMENTS,                          
	ITEM.ACTIVO AS ACTIVE,
	ITEM.ESCAPARATE AS FEATURED,                                   
	ITEM.NUMEROS_SERIE AS SERIAL_NUMBERS_ACTIVE,             
	ITEM.DESGLOSE1 AS COMBINATION1_ACTIVE,                   
	ITEM.DESGLOSE2 AS COMBINATION2_ACTIVE,                   
	ITEM.GENERICO AS GENERIC_ITEM,                                                  
	ITEM.UNIDAD_MEDIDA_ALTERNATIVA AS UNIT_MEASURE_CODE_ALT,
	ITEM.COD_UM_ETIQUETA AS LABEL_UNIT_MEASURE_CODE,
	ITEM.CANTIDAD_UM_ETIQUETA AS LABEL_UNIT_MEASURE_QUANTITY,
	ITEM.FECHA_ALTA AS CREATION_DATE,
	ITEM.CODMARCA AS BRAND_CODE,
	ITEM.BALANZA_PLU AS SCALE_PLU,                             
	ITEM.BALANZA_TIPO_ART AS SCALE_ITEM_TYPE,
	ITEM.BALANZA_TIPO_ART AS WEIGHT_REQUIRED,
	ITEM.BALANZA_SECCION AS SCALE_SECTION,                
	ITEM.ID_TIPO_SUSTITUCION AS REPLACEMENT_TYPE_ID,         
	ITEM.CONFIRMAR_PRECIO_VENTA AS CONFIRM_SALES_PRICE      
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    from D_ARTICULOS_TBL ITEM
    where ITEM.UID_ACTIVIDAD = #{activityUid,jdbcType=VARCHAR}
      and ITEM.CODART = #{itemCode,jdbcType=VARCHAR}
  </select>
  <resultMap id="DTOResultMap" extends="BaseResultMap" type="com.comerzzia.omnichannel.domain.dto.item.ItemDTO" >
  		<result column="DUN14" property="dun14" jdbcType="CHAR" typeHandler="com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler" />
  		<result column="MAIN_BARCODE" property="mainBarcode" jdbcType="CHAR" typeHandler="com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler" />
      <collection property="tags" 
                javaType="java.util.HashSet"
                select="selectItemTags" 
                column="{activityUid=ACTIVITY_UID, itemCode=ITEM_CODE" 
                ofType="String"/>
  </resultMap>
  <select id="selectDTOByPrimaryKey" resultMap="DTOResultMap" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    from D_ARTICULOS_TBL ITEM
    where ITEM.UID_ACTIVIDAD = #{activityUid,jdbcType=VARCHAR}
      and ITEM.CODART = #{itemCode,jdbcType=VARCHAR}
  </select>
  <select id="selectDTOByBarcode" resultMap="DTOResultMap" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
        ,BARCODE.DESGLOSE1 AS COMBINATION1_CODE,        
		BARCODE.DESGLOSE2 AS COMBINATION2_CODE,        
		BARCODE.CODIGO_BARRAS AS BARCODE,              
		BARCODE.DUN14 AS DUN14,                        
		BARCODE.FACTOR_CONVERSION AS BARCODE_CONVERSION_FACTOR,
		BARCODE.PRINCIPAL AS MAIN_BARCODE                     
    from D_ARTICULOS_CODBAR_TBL BARCODE 
       INNER JOIN D_ARTICULOS_TBL ITEM ON (ITEM.UID_ACTIVIDAD = BARCODE.UID_ACTIVIDAD AND ITEM.CODART = BARCODE.CODART)
    where BARCODE.UID_ACTIVIDAD = #{activityUid,jdbcType=VARCHAR}
      and BARCODE.CODIGO_BARRAS = #{barcode,jdbcType=VARCHAR}
  </select>
  <resultMap id="TagsResultMap" type="String" >
  </resultMap>
  <select id="selectItemTags" resultMap="TagsResultMap" parameterType="map" >
     SELECT UID_ETIQUETA AS TAG_UID
     FROM D_ETIQUETAS_ENL_TBL
     where UID_ACTIVIDAD = #{activityUid,jdbcType=VARCHAR}
      and ID_CLASE = 'D_ARTICULOS_TBL.CODART'
      and ID_OBJETO = #{itemCode,jdbcType=VARCHAR}
  </select>
</mapper>