<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.comerzzia.api.loyalty.persistence.customers.contacts.LoyalCustomerContactsMapper" >
  <resultMap id="BaseResultMap" type="com.comerzzia.api.loyalty.persistence.customers.contacts.TiposContactoFidelizadoBean" >
    <id column="UID_INSTANCIA" property="uidInstancia" jdbcType="VARCHAR" />
    <id column="ID_FIDELIZADO" property="idFidelizado" jdbcType="DECIMAL" />
    <id column="CODTIPOCON" property="codTipoCon" jdbcType="VARCHAR" />
    <result column="VALOR" property="valor" jdbcType="VARCHAR" />
    <result column="RECIBE_NOTIFICACIONES" property="recibeNotificaciones" jdbcType="VARCHAR" typeHandler="com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler" />
    <result column="RECIBE_NOTIFICACIONES_COM" property="recibeNotificacionesCom" jdbcType="VARCHAR" typeHandler="com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler" />
    <result column="DESTIPOCON" property="desTipoCon" jdbcType="VARCHAR" />
    <result column="PUEDE_RECIBIR_NOTIFICACIONES" property="puedeRecibirNotificaciones" jdbcType="VARCHAR" typeHandler="com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
            <foreach collection="criteria.recibeNotificacionesCriteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler} and #{criterion.secondValue,typeHandler=com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem,typeHandler=com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler}
                  </foreach>
                </when>
              </choose>
            </foreach>
            <foreach collection="criteria.recibeNotificacionesComCriteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler} and #{criterion.secondValue,typeHandler=com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem,typeHandler=com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
            <foreach collection="criteria.recibeNotificacionesCriteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler} and #{criterion.secondValue,typeHandler=com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem,typeHandler=com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler}
                  </foreach>
                </when>
              </choose>
            </foreach>
            <foreach collection="criteria.recibeNotificacionesComCriteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler} and #{criterion.secondValue,typeHandler=com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem,typeHandler=com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    UID_INSTANCIA, ID_FIDELIZADO, CODTIPOCON, VALOR, RECIBE_NOTIFICACIONES, RECIBE_NOTIFICACIONES_COM, DESTIPOCON, PUEDE_RECIBIR_NOTIFICACIONES
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.comerzzia.api.loyalty.persistence.customers.contacts.TiposContactoFidelizadoExample" resultSetType="SCROLL_INSENSITIVE" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from F_FIDELIZADO_CONTACTO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.comerzzia.api.loyalty.persistence.customers.contacts.TiposContactoFidelizadoKey" >
    select 
    <include refid="Base_Column_List" />
    from F_FIDELIZADO_CONTACTO
    where UID_INSTANCIA = #{uidInstancia,jdbcType=VARCHAR}
      and ID_FIDELIZADO = #{idFidelizado,jdbcType=DECIMAL}
      and CODTIPOCON = #{codTipoCon,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.comerzzia.api.loyalty.persistence.customers.contacts.TiposContactoFidelizadoKey" >
    delete from F_FIDELIZADOS_CONTACTO_TBL
    where UID_INSTANCIA = #{uidInstancia,jdbcType=VARCHAR}
      and ID_FIDELIZADO = #{idFidelizado,jdbcType=DECIMAL}
      and CODTIPOCON = #{codTipoCon,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.comerzzia.api.loyalty.persistence.customers.contacts.TiposContactoFidelizadoExample" >
    delete from F_FIDELIZADOS_CONTACTO_TBL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.comerzzia.api.loyalty.persistence.customers.contacts.TiposContactoFidelizadoBean" >
    insert into F_FIDELIZADOS_CONTACTO_TBL (UID_INSTANCIA, ID_FIDELIZADO, CODTIPOCON, 
      VALOR, RECIBE_NOTIFICACIONES, RECIBE_NOTIFICACIONES_COM
      )
    values (#{uidInstancia,jdbcType=VARCHAR}, #{idFidelizado,jdbcType=DECIMAL}, #{codTipoCon,jdbcType=VARCHAR}, 
      #{valor,jdbcType=VARCHAR}, #{recibeNotificaciones,jdbcType=VARCHAR,typeHandler=com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler},
      #{recibeNotificacionesCom,jdbcType=VARCHAR,typeHandler=com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.comerzzia.api.loyalty.persistence.customers.contacts.TiposContactoFidelizadoBean" >
    insert into F_FIDELIZADOS_CONTACTO_TBL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uidInstancia != null" >
        UID_INSTANCIA,
      </if>
      <if test="idFidelizado != null" >
        ID_FIDELIZADO,
      </if>
      <if test="codTipoCon != null" >
        CODTIPOCON,
      </if>
      <if test="valor != null" >
        VALOR,
      </if>
      <if test="recibeNotificaciones != null" >
        RECIBE_NOTIFICACIONES,
      </if>
      <if test="recibeNotificacionesCom != null" >
        RECIBE_NOTIFICACIONES_COM,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uidInstancia != null" >
        #{uidInstancia,jdbcType=VARCHAR},
      </if>
      <if test="idFidelizado != null" >
        #{idFidelizado,jdbcType=DECIMAL},
      </if>
      <if test="codTipoCon != null" >
        #{codTipoCon,jdbcType=VARCHAR},
      </if>
      <if test="valor != null" >
        #{valor,jdbcType=VARCHAR},
      </if>
      <if test="recibeNotificaciones != null" >
        #{recibeNotificaciones,jdbcType=VARCHAR,typeHandler=com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler},
      </if>
      <if test="recibeNotificacionesCom != null" >
        #{recibeNotificacionesCom,jdbcType=VARCHAR,typeHandler=com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.comerzzia.api.loyalty.persistence.customers.contacts.TiposContactoFidelizadoExample" resultType="java.lang.Integer" >
    select count(*) from F_FIDELIZADOS_CONTACTO_TBL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update F_FIDELIZADOS_CONTACTO_TBL
    <set >
      <if test="record.uidInstancia != null" >
        UID_INSTANCIA = #{record.uidInstancia,jdbcType=VARCHAR},
      </if>
      <if test="record.idFidelizado != null" >
        ID_FIDELIZADO = #{record.idFidelizado,jdbcType=DECIMAL},
      </if>
      <if test="record.codTipoCon != null" >
        CODTIPOCON = #{record.codTipoCon,jdbcType=VARCHAR},
      </if>
      <if test="record.valor != null" >
        VALOR = #{record.valor,jdbcType=VARCHAR},
      </if>
      <if test="record.recibeNotificaciones != null" >
        RECIBE_NOTIFICACIONES = #{record.recibeNotificaciones,jdbcType=VARCHAR,typeHandler=com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler},
      </if>
      <if test="record.recibeNotificacionesCom != null" >
        RECIBE_NOTIFICACIONES_COM = #{record.recibeNotificacionesCom,jdbcType=VARCHAR,typeHandler=com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update F_FIDELIZADOS_CONTACTO_TBL
    set UID_INSTANCIA = #{record.uidInstancia,jdbcType=VARCHAR},
      ID_FIDELIZADO = #{record.idFidelizado,jdbcType=DECIMAL},
      CODTIPOCON = #{record.codTipoCon,jdbcType=VARCHAR},
      VALOR = #{record.valor,jdbcType=VARCHAR},
      RECIBE_NOTIFICACIONES = #{record.recibeNotificaciones,jdbcType=VARCHAR,typeHandler=com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler},
      RECIBE_NOTIFICACIONES_COM = #{record.recibeNotificacionesCom,jdbcType=VARCHAR,typeHandler=com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.comerzzia.api.loyalty.persistence.customers.contacts.TiposContactoFidelizadoBean" >
    update F_FIDELIZADOS_CONTACTO_TBL
    <set >
      <if test="valor != null" >
        VALOR = #{valor,jdbcType=VARCHAR},
      </if>
      <if test="recibeNotificaciones != null" >
        RECIBE_NOTIFICACIONES = #{recibeNotificaciones,jdbcType=VARCHAR,typeHandler=com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler},
      </if>
      <if test="recibeNotificacionesCom != null" >
        RECIBE_NOTIFICACIONES_COM = #{recibeNotificacionesCom,jdbcType=VARCHAR,typeHandler=com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler},
      </if>
    </set>
    where UID_INSTANCIA = #{uidInstancia,jdbcType=VARCHAR}
      and ID_FIDELIZADO = #{idFidelizado,jdbcType=DECIMAL}
      and CODTIPOCON = #{codTipoCon,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.comerzzia.api.loyalty.persistence.customers.contacts.TiposContactoFidelizadoBean" >
    update F_FIDELIZADOS_CONTACTO_TBL
    set VALOR = #{valor,jdbcType=VARCHAR},
      RECIBE_NOTIFICACIONES = #{recibeNotificaciones,jdbcType=VARCHAR,typeHandler=com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler},
      RECIBE_NOTIFICACIONES_COM = #{recibeNotificacionesCom,jdbcType=VARCHAR,typeHandler=com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler}
    where UID_INSTANCIA = #{uidInstancia,jdbcType=VARCHAR}
      and ID_FIDELIZADO = #{idFidelizado,jdbcType=DECIMAL}
      and CODTIPOCON = #{codTipoCon,jdbcType=VARCHAR}
  </update>
  <select resultMap="BaseResultMap" parameterType="com.comerzzia.api.loyalty.persistence.customers.contacts.TiposContactoFidelizadoExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from F_FIDELIZADO_CONTACTO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>