<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.comerzzia.pos.persistence.articulos.categorizaciones.CategorizacionMapper" >
  <cache flushInterval="60000"/>
  
  <resultMap id="BaseResultMap" type="com.comerzzia.pos.persistence.articulos.categorizaciones.CategorizacionBean" >
    <id column="UID_ACTIVIDAD" property="uidActividad" jdbcType="VARCHAR" />
    <id column="CODCAT" property="codcat" jdbcType="VARCHAR" />
    <result column="DESCAT" property="descat" jdbcType="VARCHAR" />
    <result column="ACTIVO" property="activo" jdbcType="CHAR" />
    <result column="VERSION" property="version" jdbcType="DECIMAL" />
    <result column="FECHA_VERSION" property="fechaVersion" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    UID_ACTIVIDAD, CODCAT, DESCAT, ACTIVO, VERSION, FECHA_VERSION
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="map">
    select 
    <include refid="Base_Column_List" />
    from D_CATEGORIZACION_TBL
    where UID_ACTIVIDAD = #{activityUid,jdbcType=VARCHAR}
      and CODCAT = #{categoryCode,jdbcType=VARCHAR}
  </select>
</mapper>