<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.comerzzia.pos.persistence.almacenes.AlmacenMapper" >
  <resultMap id="BaseResultMap" type="com.comerzzia.pos.persistence.almacenes.AlmacenBean" >
    <id column="UID_ACTIVIDAD" property="uidActividad" jdbcType="VARCHAR" />
    <id column="CODALM" property="codAlmacen" jdbcType="VARCHAR" />
    <result column="DESALM" property="desAlmacen" jdbcType="VARCHAR" />
    <result column="DOMICILIO" property="domicilio" jdbcType="VARCHAR" />
    <result column="POBLACION" property="poblacion" jdbcType="VARCHAR" />
    <result column="PROVINCIA" property="provincia" jdbcType="VARCHAR" />
    <result column="CP" property="cp" jdbcType="VARCHAR" />
    <result column="TELEFONO1" property="telefono1" jdbcType="VARCHAR" />
    <result column="TELEFONO2" property="telefono2" jdbcType="VARCHAR" />
    <result column="FAX" property="fax" jdbcType="VARCHAR" />
    <result column="PERSONA_CONTACTO" property="personaContacto" jdbcType="VARCHAR" />
    <result column="CODEMP" property="codEmpresa" jdbcType="VARCHAR" />
    <result column="CODCLI" property="codCliente" jdbcType="VARCHAR" />
    <result column="ACTIVO" property="activo" jdbcType="CHAR" typeHandler="com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler" />
  </resultMap>
  <sql id="Base_Column_List" >
    UID_ACTIVIDAD, CODALM, DESALM, DOMICILIO, POBLACION, PROVINCIA, CP, TELEFONO1, TELEFONO2, 
    FAX, PERSONA_CONTACTO, CODEMP, CODCLI, ACTIVO
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.comerzzia.pos.persistence.almacenes.AlmacenKey" >
    select 
    <include refid="Base_Column_List" />
    from D_ALMACENES_TBL
    where UID_ACTIVIDAD = #{uidActividad,jdbcType=VARCHAR}
      and CODALM = #{codAlmacen,jdbcType=VARCHAR}
  </select>
</mapper>