<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.comerzzia.pos.persistence.cajas.CashJournalMapper" >
  <resultMap id="BaseResultMap" type="com.comerzzia.pos.persistence.cajas.CashJournalHdr" >
    <id column="UID_ACTIVIDAD" property="activityId" jdbcType="VARCHAR" />
    <id column="UID_DIARIO_CAJA" property="cashJournalUid" jdbcType="VARCHAR" />
    <result column="CODALM" property="storeCode" jdbcType="VARCHAR" />
    <result column="CODCAJA" property="tillCode" jdbcType="VARCHAR" />
    <result column="FECHA_APERTURA" property="openingDate" jdbcType="TIMESTAMP" />
    <result column="FECHA_CIERRE" property="closingDate" jdbcType="TIMESTAMP" />
    <result column="FECHA_ENVIO" property="transmissionDate" jdbcType="TIMESTAMP" />
    <result column="USUARIO" property="openUserCode" jdbcType="VARCHAR" />
    <result column="USUARIO_CIERRE" property="closeUserCode" jdbcType="VARCHAR" />
    <result column="FECHA_CONTABLE" property="accountingDate" jdbcType="DATE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    UID_ACTIVIDAD, UID_DIARIO_CAJA, CODALM, CODCAJA, FECHA_APERTURA, FECHA_CIERRE, FECHA_ENVIO, 
    USUARIO, USUARIO_CIERRE, FECHA_CONTABLE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.comerzzia.pos.persistence.cajas.CashJournalExample" resultSetType="SCROLL_INSENSITIVE" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from D_CAJA_CAB_TBL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.comerzzia.pos.persistence.cajas.CashJournalHdrKey" >
    select 
    <include refid="Base_Column_List" />
    from D_CAJA_CAB_TBL
    where UID_ACTIVIDAD = #{activityId,jdbcType=VARCHAR}
      and UID_DIARIO_CAJA = #{cashJournalUid,jdbcType=VARCHAR}
  </select>
  <insert id="insertFechaAperturaDate" parameterType="com.comerzzia.pos.persistence.cajas.CashJournalHdr" >
    insert into D_CAJA_CAB_TBL (UID_ACTIVIDAD, UID_DIARIO_CAJA, CODALM, 
      CODCAJA, FECHA_APERTURA, FECHA_CIERRE, 
      FECHA_ENVIO, USUARIO, USUARIO_CIERRE, FECHA_CONTABLE)
    values (#{activityId,jdbcType=VARCHAR}, #{cashJournalUid,jdbcType=VARCHAR}, #{storeCode,jdbcType=VARCHAR}, 
      #{tillCode,jdbcType=VARCHAR}, #{openingDate,jdbcType=DATE}, #{closingDate,jdbcType=TIMESTAMP}, 
      #{transmissionDate,jdbcType=TIMESTAMP}, #{openUserCode,jdbcType=VARCHAR}, #{closeUserCode,jdbcType=VARCHAR}, 
      #{accountingDate,jdbcType=DATE})
  </insert>  
  <insert id="insertFechaAperturaDateTime" parameterType="com.comerzzia.pos.persistence.cajas.CashJournalHdr" >
    insert into D_CAJA_CAB_TBL (UID_ACTIVIDAD, UID_DIARIO_CAJA, CODALM, 
      CODCAJA, FECHA_APERTURA, FECHA_CIERRE, 
      FECHA_ENVIO, USUARIO, USUARIO_CIERRE, FECHA_CONTABLE)
    values (#{activityId,jdbcType=VARCHAR}, #{cashJournalUid,jdbcType=VARCHAR}, #{storeCode,jdbcType=VARCHAR}, 
      #{tillCode,jdbcType=VARCHAR}, #{openingDate,jdbcType=TIMESTAMP}, #{closingDate,jdbcType=TIMESTAMP}, 
      #{transmissionDate,jdbcType=TIMESTAMP}, #{openUserCode,jdbcType=VARCHAR}, #{closeUserCode,jdbcType=VARCHAR}, 
      #{accountingDate,jdbcType=DATE})
  </insert>   
  <update id="cierreCajaDateByPrimaryKey" parameterType="com.comerzzia.pos.persistence.cajas.CashJournalHdr" >
    update D_CAJA_CAB_TBL
    <set>
        FECHA_CIERRE = #{closingDate,jdbcType=DATE},
        USUARIO_CIERRE = #{closeUserCode,jdbcType=VARCHAR},
    </set>
    where UID_ACTIVIDAD = #{activityId,jdbcType=VARCHAR}
      and UID_DIARIO_CAJA = #{cashJournalUid,jdbcType=VARCHAR}
      and FECHA_CIERRE IS NULL
  </update>
  <update id="cierreCajaDateTimeByPrimaryKey" parameterType="com.comerzzia.pos.persistence.cajas.CashJournalHdr" >
    update D_CAJA_CAB_TBL
    <set>
        FECHA_CIERRE = #{closingDate,jdbcType=TIMESTAMP},
        USUARIO_CIERRE = #{closeUserCode,jdbcType=VARCHAR},
    </set>
    where UID_ACTIVIDAD = #{activityId,jdbcType=VARCHAR}
      and UID_DIARIO_CAJA = #{cashJournalUid,jdbcType=VARCHAR}
      and FECHA_CIERRE IS NULL
  </update>
   <select id="contAcumuladoCaja" parameterType="java.util.Map" resultType="java.math.BigDecimal" resultSetType="SCROLL_INSENSITIVE">
   	select SUM(CARGO - ABONO) 
   	from D_CAJA_DET_TBL DETCAJA
		inner join D_MEDIOS_PAGO_TBL MEDPAG on MEDPAG.UID_ACTIVIDAD = DETCAJA.UID_ACTIVIDAD and MEDPAG.CODMEDPAG = DETCAJA.CODMEDPAG
	where DETCAJA.UID_ACTIVIDAD = #{activityId, jdbcType=VARCHAR}
		and DETCAJA.UID_DIARIO_CAJA = #{cashJournalUid, jdbcType=VARCHAR}
		and MEDPAG.EFECTIVO = 'S' 
		and MEDPAG.CONTADO = 'S'
  </select>
</mapper>