<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
	PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
	"http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
	<classPathEntry
		location="C:\Users\Tier1\.m2\repository\mysql\mysql-connector-java\5.1.45\mysql-connector-java-5.1.45.jar" />
	<context id="comerzzia" targetRuntime="MyBatis3">

		<commentGenerator>
			<property name="supressAllComments" value="true" />
		</commentGenerator>

		<jdbcConnection driverClass="com.mysql.jdbc.Driver"
			connectionURL="jdbc:mysql://172.16.102.35:33062/czz_bricodepot"
			userId="czz_bricodepot" password="czz_bricodepot">
		</jdbcConnection>

		<javaModelGenerator
			targetPackage="com.comerzzia.bricodepot.backoffice.persistence.general.tiendas.atcud"
			targetProject="comerzzia-custom-backoffice-services/src/main/java">
			<property name="enableSubPackages" value="false" />
			<property name="trimStrings" value="true" />
		</javaModelGenerator>

		<sqlMapGenerator
			targetPackage="com.comerzzia.bricodepot.backoffice.persistence.general.tiendas.atcud"
			targetProject="comerzzia-custom-backoffice-services/src/main/java">
			<property name="enableSubPackages" value="false" />
		</sqlMapGenerator>

		<javaClientGenerator type="XMLMAPPER"
			targetPackage="com.comerzzia.bricodepot.backoffice.persistence.general.tiendas.atcud"
			targetProject="comerzzia-custom-backoffice-services/src/main/java">
			<property name="enableSubPackages" value="false" />
		</javaClientGenerator>

		<table tableName="X_ALMACENES_ATCUD_TBL"
			domainObjectName="AtcudMagento">
		</table>
	</context>

</generatorConfiguration>