<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.comerzzia.core.basketcalculator.persistencia.pasarelas.configuraciones.BasketCalculatorConfiguracionPasarelaMapper" >
  <resultMap id="BaseResultMap" type="com.comerzzia.core.basketcalculator.model.pasarelas.configuraciones.ConfiguracionPasarelaBean" >
    <id column="UID_ACTIVIDAD" property="uidActividad" jdbcType="VARCHAR" />
    <id column="ID_CONF_PASARELA" property="idConfPasarela" jdbcType="VARCHAR" />
    <result column="ID_TIPO_PASARELA" property="idTipoPasarela" jdbcType="VARCHAR" />
    <result column="DESCONFPASARELA" property="desconfpasarela" jdbcType="VARCHAR" />
    <result column="ACTIVO" property="activo" jdbcType="VARCHAR" typeHandler="com.comerzzia.core.basketcalculator.util.mybatis.typehandlers.BooleanStringTypeHandler" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.comerzzia.core.basketcalculator.model.pasarelas.configuraciones.ConfiguracionPasarelaBean" extends="BaseResultMap" >
    <result column="CONFIGURACION" property="configuracion" jdbcType="BLOB" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
            <foreach collection="criteria.activoCriteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=com.comerzzia.core.basketcalculator.util.mybatis.typehandlers.BooleanStringTypeHandler}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=com.comerzzia.core.basketcalculator.util.mybatis.typehandlers.BooleanStringTypeHandler} and #{criterion.secondValue,typeHandler=com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem,typeHandler=com.comerzzia.core.basketcalculator.util.mybatis.typehandlers.BooleanStringTypeHandler}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
            <foreach collection="criteria.activoCriteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=com.comerzzia.core.basketcalculator.util.mybatis.typehandlers.BooleanStringTypeHandler}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=com.comerzzia.core.basketcalculator.util.mybatis.typehandlers.BooleanStringTypeHandler} and #{criterion.secondValue,typeHandler=com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem,typeHandler=com.comerzzia.core.basketcalculator.util.mybatis.typehandlers.BooleanStringTypeHandler}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    UID_ACTIVIDAD, ID_CONF_PASARELA, ID_TIPO_PASARELA, DESCONFPASARELA, ACTIVO
  </sql>
  <sql id="Blob_Column_List" >
    CONFIGURACION
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.comerzzia.core.basketcalculator.model.pasarelas.configuraciones.ConfiguracionPasarelaExample" resultSetType="SCROLL_INSENSITIVE" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from D_TIPOS_PASARELAS_CONF_TBL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.comerzzia.core.basketcalculator.model.pasarelas.configuraciones.ConfiguracionPasarelaExample" resultSetType="SCROLL_INSENSITIVE" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from D_TIPOS_PASARELAS_CONF_TBL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="com.comerzzia.core.basketcalculator.model.pasarelas.configuraciones.ConfiguracionPasarelaKey" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from D_TIPOS_PASARELAS_CONF_TBL
    where UID_ACTIVIDAD = #{uidActividad,jdbcType=VARCHAR}
      and ID_CONF_PASARELA = #{idConfPasarela,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.comerzzia.core.basketcalculator.model.pasarelas.configuraciones.ConfiguracionPasarelaKey" >
    delete from D_TIPOS_PASARELAS_CONF_TBL
    where UID_ACTIVIDAD = #{uidActividad,jdbcType=VARCHAR}
      and ID_CONF_PASARELA = #{idConfPasarela,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.comerzzia.core.basketcalculator.model.pasarelas.configuraciones.ConfiguracionPasarelaExample" >
    delete from D_TIPOS_PASARELAS_CONF_TBL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.comerzzia.core.basketcalculator.model.pasarelas.configuraciones.ConfiguracionPasarelaBean" >
    insert into D_TIPOS_PASARELAS_CONF_TBL (UID_ACTIVIDAD, ID_CONF_PASARELA, ID_TIPO_PASARELA, 
      DESCONFPASARELA, ACTIVO, 
      CONFIGURACION)
    values (#{uidActividad,jdbcType=VARCHAR}, #{idConfPasarela,jdbcType=VARCHAR}, #{idTipoPasarela,jdbcType=VARCHAR}, 
      #{desconfpasarela,jdbcType=VARCHAR}, #{activo,jdbcType=VARCHAR,typeHandler=com.comerzzia.core.util.mybatis.typehandlers.BooleanStringTypeHandler}, 
      #{configuracion,jdbcType=BLOB})
  </insert>
  <insert id="insertSelective" parameterType="com.comerzzia.core.basketcalculator.model.pasarelas.configuraciones.ConfiguracionPasarelaBean" >
    insert into D_TIPOS_PASARELAS_CONF_TBL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uidActividad != null" >
        UID_ACTIVIDAD,
      </if>
      <if test="idConfPasarela != null" >
        ID_CONF_PASARELA,
      </if>
      <if test="idTipoPasarela != null" >
        ID_TIPO_PASARELA,
      </if>
      <if test="desconfpasarela != null" >
        DESCONFPASARELA,
      </if>
      <if test="activo != null" >
        ACTIVO,
      </if>
      <if test="configuracion != null" >
        CONFIGURACION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uidActividad != null" >
        #{uidActividad,jdbcType=VARCHAR},
      </if>
      <if test="idConfPasarela != null" >
        #{idConfPasarela,jdbcType=VARCHAR},
      </if>
      <if test="idTipoPasarela != null" >
        #{idTipoPasarela,jdbcType=VARCHAR},
      </if>
      <if test="desconfpasarela != null" >
        #{desconfpasarela,jdbcType=VARCHAR},
      </if>
      <if test="activo != null" >
        #{activo,jdbcType=VARCHAR,typeHandler=com.comerzzia.core.basketcalculator.util.mybatis.typehandlers.BooleanStringTypeHandler},
      </if>
      <if test="configuracion != null" >
        #{configuracion,jdbcType=BLOB},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.comerzzia.core.basketcalculator.model.pasarelas.configuraciones.ConfiguracionPasarelaExample" resultType="java.lang.Integer" >
    select count(*) from D_TIPOS_PASARELAS_CONF_TBL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update D_TIPOS_PASARELAS_CONF_TBL
    <set >
      <if test="record.uidActividad != null" >
        UID_ACTIVIDAD = #{record.uidActividad,jdbcType=VARCHAR},
      </if>
      <if test="record.idConfPasarela != null" >
        ID_CONF_PASARELA = #{record.idConfPasarela,jdbcType=VARCHAR},
      </if>
      <if test="record.idTipoPasarela != null" >
        ID_TIPO_PASARELA = #{record.idTipoPasarela,jdbcType=VARCHAR},
      </if>
      <if test="record.desconfpasarela != null" >
        DESCONFPASARELA = #{record.desconfpasarela,jdbcType=VARCHAR},
      </if>
      <if test="record.activo != null" >
        ACTIVO = #{record.activo,jdbcType=VARCHAR,typeHandler=com.comerzzia.core.basketcalculator.util.mybatis.typehandlers.BooleanStringTypeHandler},
      </if>
      <if test="record.configuracion != null" >
        CONFIGURACION = #{record.configuracion,jdbcType=BLOB},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update D_TIPOS_PASARELAS_CONF_TBL
    set UID_ACTIVIDAD = #{record.uidActividad,jdbcType=VARCHAR},
      ID_CONF_PASARELA = #{record.idConfPasarela,jdbcType=VARCHAR},
      ID_TIPO_PASARELA = #{record.idTipoPasarela,jdbcType=VARCHAR},
      DESCONFPASARELA = #{record.desconfpasarela,jdbcType=VARCHAR},
      ACTIVO = #{record.activo,jdbcType=VARCHAR,typeHandler=com.comerzzia.core.basketcalculator.util.mybatis.typehandlers.BooleanStringTypeHandler},
      CONFIGURACION = #{record.configuracion,jdbcType=BLOB}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update D_TIPOS_PASARELAS_CONF_TBL
    set UID_ACTIVIDAD = #{record.uidActividad,jdbcType=VARCHAR},
      ID_CONF_PASARELA = #{record.idConfPasarela,jdbcType=VARCHAR},
      ID_TIPO_PASARELA = #{record.idTipoPasarela,jdbcType=VARCHAR},
      DESCONFPASARELA = #{record.desconfpasarela,jdbcType=VARCHAR},
      ACTIVO = #{record.activo,jdbcType=VARCHAR,typeHandler=com.comerzzia.core.basketcalculator.util.mybatis.typehandlers.BooleanStringTypeHandler}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.comerzzia.core.basketcalculator.model.pasarelas.configuraciones.ConfiguracionPasarelaBean" >
    update D_TIPOS_PASARELAS_CONF_TBL
    <set >
      <if test="idTipoPasarela != null" >
        ID_TIPO_PASARELA = #{idTipoPasarela,jdbcType=VARCHAR},
      </if>
      <if test="desconfpasarela != null" >
        DESCONFPASARELA = #{desconfpasarela,jdbcType=VARCHAR},
      </if>
      <if test="activo != null" >
        ACTIVO = #{activo,jdbcType=VARCHAR,typeHandler=com.comerzzia.core.basketcalculator.util.mybatis.typehandlers.BooleanStringTypeHandler},
      </if>
      <if test="configuracion != null" >
        CONFIGURACION = #{configuracion,jdbcType=BLOB},
      </if>
    </set>
    where UID_ACTIVIDAD = #{uidActividad,jdbcType=VARCHAR}
      and ID_CONF_PASARELA = #{idConfPasarela,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.comerzzia.core.basketcalculator.model.pasarelas.configuraciones.ConfiguracionPasarelaBean" >
    update D_TIPOS_PASARELAS_CONF_TBL
    set ID_TIPO_PASARELA = #{idTipoPasarela,jdbcType=VARCHAR},
      DESCONFPASARELA = #{desconfpasarela,jdbcType=VARCHAR},
      ACTIVO = #{activo,jdbcType=VARCHAR,typeHandler=com.comerzzia.core.basketcalculator.util.mybatis.typehandlers.BooleanStringTypeHandler},
      CONFIGURACION = #{configuracion,jdbcType=BLOB}
    where UID_ACTIVIDAD = #{uidActividad,jdbcType=VARCHAR}
      and ID_CONF_PASARELA = #{idConfPasarela,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.comerzzia.core.basketcalculator.model.pasarelas.configuraciones.ConfiguracionPasarelaBean" >
    update D_TIPOS_PASARELAS_CONF_TBL
    set ID_TIPO_PASARELA = #{idTipoPasarela,jdbcType=VARCHAR},
      DESCONFPASARELA = #{desconfpasarela,jdbcType=VARCHAR},
      ACTIVO = #{activo,jdbcType=VARCHAR,typeHandler=com.comerzzia.core.basketcalculator.util.mybatis.typehandlers.BooleanStringTypeHandler}
    where UID_ACTIVIDAD = #{uidActividad,jdbcType=VARCHAR}
      and ID_CONF_PASARELA = #{idConfPasarela,jdbcType=VARCHAR}
  </update>
  <select resultMap="ResultMapWithBLOBs" parameterType="com.comerzzia.core.basketcalculator.model.pasarelas.configuraciones.ConfiguracionPasarelaExample" id="selectByExampleWithBLOBsWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from D_TIPOS_PASARELAS_CONF_TBL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select resultMap="BaseResultMap" parameterType="com.comerzzia.core.basketcalculator.model.pasarelas.configuraciones.ConfiguracionPasarelaExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from D_TIPOS_PASARELAS_CONF_TBL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>