<?xml version="1.0" encoding="UTF-8" ?>
<!--

    ComerZZia 3.0

    Copyright (c) 2008-2015 Comerzzia, S.L.  All Rights Reserved.

    THIS WORK IS  SUBJECT  TO  SPAIN  AND  INTERNATIONAL  COPYRIGHT  LAWS  AND
    TREATIES.   NO  PART  OF  THIS  WORK MAY BE  USED,  PRACTICED,  PERFORMED
    COPIED, DISTRIBUTED, REVISED, MODIFIED, TRANSLATED,  ABRIDGED, CONDENSED,
    EXPANDED,  COLLECTED,  COMPILED,  LINKED,  RECAST, TRANSFORMED OR ADAPTED
    WITHOUT THE PRIOR WRITTEN CONSENT OF COMERZZIA, S.L. ANY USE OR EXPLOITATION
    OF THIS WORK WITHOUT AUTHORIZATION COULD SUBJECT THE PERPETRATOR TO
    CRIMINAL AND CIVIL LIABILITY.

    CONSULT THE END USER LICENSE AGREEMENT FOR INFORMATION ON ADDITIONAL
    RESTRICTIONS.

-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.comerzzia.pos.persistence.core.contadores.POSContadorMapper" >
  <resultMap id="BaseResultMap" type="com.comerzzia.pos.persistence.core.contadores.ContadorBean" >
    <id column="UID_ACTIVIDAD" property="uidActividad" jdbcType="VARCHAR" />
    <id column="ID_CONTADOR" property="idContador" jdbcType="VARCHAR" />
    <id column="DIVISOR1" property="divisor1" jdbcType="VARCHAR" />
    <id column="DIVISOR2" property="divisor2" jdbcType="VARCHAR" />
    <id column="DIVISOR3" property="divisor3" jdbcType="VARCHAR" />
    <result column="VALOR" property="valor" jdbcType="DECIMAL" />
    <result column="ULTIMA_PETICION" property="ultimaPeticion" jdbcType="TIMESTAMP" />
    <result column="ID_RANGO_ULTIMA_PETICION" property="idRangoUltimaPeticion" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    UID_ACTIVIDAD, ID_CONTADOR, DIVISOR1, DIVISOR2, DIVISOR3, VALOR, ULTIMA_PETICION, 
    ID_RANGO_ULTIMA_PETICION
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.comerzzia.pos.persistence.core.contadores.ContadorExample" resultSetType="SCROLL_INSENSITIVE" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from D_CONTADORES_TBL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.comerzzia.pos.persistence.core.contadores.ContadorKey" >
    select 
    <include refid="Base_Column_List" />
    from D_CONTADORES_TBL
    where UID_ACTIVIDAD = #{uidActividad,jdbcType=VARCHAR}
      and ID_CONTADOR = #{idContador,jdbcType=VARCHAR}
      and DIVISOR1 = #{divisor1,jdbcType=VARCHAR}
      and DIVISOR2 = #{divisor2,jdbcType=VARCHAR}
      and DIVISOR3 = #{divisor3,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.comerzzia.pos.persistence.core.contadores.ContadorKey" >
    delete from D_CONTADORES_TBL
    where UID_ACTIVIDAD = #{uidActividad,jdbcType=VARCHAR}
      and ID_CONTADOR = #{idContador,jdbcType=VARCHAR}
      and DIVISOR1 = #{divisor1,jdbcType=VARCHAR}
      and DIVISOR2 = #{divisor2,jdbcType=VARCHAR}
      and DIVISOR3 = #{divisor3,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.comerzzia.pos.persistence.core.contadores.ContadorExample" >
    delete from D_CONTADORES_TBL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.comerzzia.pos.persistence.core.contadores.ContadorBean" >
    insert into D_CONTADORES_TBL (UID_ACTIVIDAD, ID_CONTADOR, DIVISOR1, 
      DIVISOR2, DIVISOR3, VALOR, 
      ULTIMA_PETICION, ID_RANGO_ULTIMA_PETICION
      )
    values (#{uidActividad,jdbcType=VARCHAR}, #{idContador,jdbcType=VARCHAR}, #{divisor1,jdbcType=VARCHAR}, 
      #{divisor2,jdbcType=VARCHAR}, #{divisor3,jdbcType=VARCHAR}, #{valor,jdbcType=DECIMAL}, 
      #{ultimaPeticion,jdbcType=TIMESTAMP}, #{idRangoUltimaPeticion,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.comerzzia.pos.persistence.core.contadores.ContadorBean" >
    insert into D_CONTADORES_TBL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uidActividad != null" >
        UID_ACTIVIDAD,
      </if>
      <if test="idContador != null" >
        ID_CONTADOR,
      </if>
      <if test="divisor1 != null" >
        DIVISOR1,
      </if>
      <if test="divisor2 != null" >
        DIVISOR2,
      </if>
      <if test="divisor3 != null" >
        DIVISOR3,
      </if>
      <if test="valor != null" >
        VALOR,
      </if>
      <if test="ultimaPeticion != null" >
        ULTIMA_PETICION,
      </if>
      <if test="idRangoUltimaPeticion != null" >
        ID_RANGO_ULTIMA_PETICION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uidActividad != null" >
        #{uidActividad,jdbcType=VARCHAR},
      </if>
      <if test="idContador != null" >
        #{idContador,jdbcType=VARCHAR},
      </if>
      <if test="divisor1 != null" >
        #{divisor1,jdbcType=VARCHAR},
      </if>
      <if test="divisor2 != null" >
        #{divisor2,jdbcType=VARCHAR},
      </if>
      <if test="divisor3 != null" >
        #{divisor3,jdbcType=VARCHAR},
      </if>
      <if test="valor != null" >
        #{valor,jdbcType=DECIMAL},
      </if>
      <if test="ultimaPeticion != null" >
        #{ultimaPeticion,jdbcType=TIMESTAMP},
      </if>
      <if test="idRangoUltimaPeticion != null" >
        #{idRangoUltimaPeticion,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.comerzzia.pos.persistence.core.contadores.ContadorExample" resultType="java.lang.Integer" >
    select count(*) from D_CONTADORES_TBL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update D_CONTADORES_TBL
    <set >
      <if test="record.uidActividad != null" >
        UID_ACTIVIDAD = #{record.uidActividad,jdbcType=VARCHAR},
      </if>
      <if test="record.idContador != null" >
        ID_CONTADOR = #{record.idContador,jdbcType=VARCHAR},
      </if>
      <if test="record.divisor1 != null" >
        DIVISOR1 = #{record.divisor1,jdbcType=VARCHAR},
      </if>
      <if test="record.divisor2 != null" >
        DIVISOR2 = #{record.divisor2,jdbcType=VARCHAR},
      </if>
      <if test="record.divisor3 != null" >
        DIVISOR3 = #{record.divisor3,jdbcType=VARCHAR},
      </if>
      <if test="record.valor != null" >
        VALOR = #{record.valor,jdbcType=DECIMAL},
      </if>
      <if test="record.ultimaPeticion != null" >
        ULTIMA_PETICION = #{record.ultimaPeticion,jdbcType=TIMESTAMP},
      </if>
      <if test="record.idRangoUltimaPeticion != null" >
        ID_RANGO_ULTIMA_PETICION = #{record.idRangoUltimaPeticion,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update D_CONTADORES_TBL
    set UID_ACTIVIDAD = #{record.uidActividad,jdbcType=VARCHAR},
      ID_CONTADOR = #{record.idContador,jdbcType=VARCHAR},
      DIVISOR1 = #{record.divisor1,jdbcType=VARCHAR},
      DIVISOR2 = #{record.divisor2,jdbcType=VARCHAR},
      DIVISOR3 = #{record.divisor3,jdbcType=VARCHAR},
      VALOR = #{record.valor,jdbcType=DECIMAL},
      ULTIMA_PETICION = #{record.ultimaPeticion,jdbcType=TIMESTAMP},
      ID_RANGO_ULTIMA_PETICION = #{record.idRangoUltimaPeticion,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.comerzzia.pos.persistence.core.contadores.ContadorBean" >
    update D_CONTADORES_TBL
    <set >
      <if test="valor != null" >
        VALOR = #{valor,jdbcType=DECIMAL},
      </if>
      <if test="ultimaPeticion != null" >
        ULTIMA_PETICION = #{ultimaPeticion,jdbcType=TIMESTAMP},
      </if>
      <if test="idRangoUltimaPeticion != null" >
        ID_RANGO_ULTIMA_PETICION = #{idRangoUltimaPeticion,jdbcType=VARCHAR},
      </if>
    </set>
    where UID_ACTIVIDAD = #{uidActividad,jdbcType=VARCHAR}
      and ID_CONTADOR = #{idContador,jdbcType=VARCHAR}
      and DIVISOR1 = #{divisor1,jdbcType=VARCHAR}
      and DIVISOR2 = #{divisor2,jdbcType=VARCHAR}
      and DIVISOR3 = #{divisor3,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.comerzzia.pos.persistence.core.contadores.ContadorBean" >
    update D_CONTADORES_TBL
    set VALOR = #{valor,jdbcType=DECIMAL},
      ULTIMA_PETICION = #{ultimaPeticion,jdbcType=TIMESTAMP},
      ID_RANGO_ULTIMA_PETICION = #{idRangoUltimaPeticion,jdbcType=VARCHAR}
    where UID_ACTIVIDAD = #{uidActividad,jdbcType=VARCHAR}
      and ID_CONTADOR = #{idContador,jdbcType=VARCHAR}
      and DIVISOR1 = #{divisor1,jdbcType=VARCHAR}
      and DIVISOR2 = #{divisor2,jdbcType=VARCHAR}
      and DIVISOR3 = #{divisor3,jdbcType=VARCHAR}
  </update>
  <select resultMap="BaseResultMap" parameterType="com.comerzzia.pos.persistence.core.contadores.ContadorExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from D_CONTADORES_TBL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>