<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.comerzzia.pos.persistence.articulos.tarifas.TarifaDetalleMapper" >
  <resultMap id="BaseResultMap" type="com.comerzzia.pos.persistence.articulos.tarifas.TarifaDetalleBean" >
    <id column="UID_ACTIVIDAD" property="uidActividad" jdbcType="VARCHAR" />
    <id column="CODTAR" property="codTarifa" jdbcType="VARCHAR" />
    <id column="CODART" property="codArticulo" jdbcType="VARCHAR" />
    <id column="DESGLOSE1" property="desglose1" jdbcType="VARCHAR" />
    <id column="DESGLOSE2" property="desglose2" jdbcType="VARCHAR" />
    <id column="FECHA_INICIO" property="fechaInicio" jdbcType="TIMESTAMP" />
    <result column="PRECIO_COSTO" property="precioCosto" jdbcType="DECIMAL" />
    <result column="FACTOR_MARCAJE" property="factorMarcaje" jdbcType="DECIMAL" />
    <result column="PRECIO_VENTA" property="precioVenta" jdbcType="DECIMAL" />
    <result column="PRECIO_TOTAL" property="precioTotal" jdbcType="DECIMAL" />
    <result column="VERSION" property="version" jdbcType="DECIMAL" />
    <result column="PRECIO_VENTA_REF" property="precioVentaRef" jdbcType="DECIMAL" />
    <result column="PRECIO_VENTA_REF_TOTAL" property="precioVentaRefTotal" jdbcType="DECIMAL" />
    <result column="BORRADO" property="borrado" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    UID_ACTIVIDAD, CODTAR, CODART, DESGLOSE1, DESGLOSE2, FECHA_INICIO, PRECIO_COSTO, 
    FACTOR_MARCAJE, PRECIO_VENTA, PRECIO_TOTAL, VERSION, PRECIO_VENTA_REF, PRECIO_VENTA_REF_TOTAL, 
    BORRADO
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.comerzzia.pos.persistence.articulos.tarifas.TarifaDetalleExample" resultSetType="SCROLL_INSENSITIVE" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from D_TARIFAS_DET_TBL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>